Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

refactor(maz-ui): reduce MazSpinner CSS bundle size with CSS variable
  packages/lib/src/components/MazSpinner.vue
Due: lib, maz-ui Library

fix(maz-ui): sync MazInput state on browser autofill
  packages/lib/src/components/MazInput.vue
  packages/lib/src/utils/autofillSync.ts
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazInput.spec.ts
Due: lib, maz-ui Library

refactor(maz-ui): reduce MazBtn CSS bundle size with CSS variables
  packages/lib/src/components/MazBtn.vue
  packages/lib/tests/specs/components/MazBtn.spec.ts
  packages/lib/tests/specs/components/MazBtnGroup.spec.ts
Due: lib, maz-ui Library

chore: replace relizy url
  CHANGELOG.md
  README.md
  packages/nuxt/CHANGELOG.md
Due: nuxt, Nuxt Package

refactor(maz-ui): reduce MazBadge CSS bundle size with CSS variables
  packages/lib/src/components/MazBadge.vue
Due: lib, maz-ui Library

chore: upgrade dependencies
  .codedov.yml
  package.json
  packages/eslint-config/package.json
  packages/lib/vitest.config.ts
  packages/mcp/package.json
  packages/mcp/vitest.config.ts
  packages/node/vitest.config.ts
  packages/nuxt/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: lib, utils, mcp, translations, node, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Node Package, Nuxt Package, Themes Package

chore: add @yoloship/claude-sdk in devDep
  package.json
  pnpm-lock.yaml
Due: none

ci: add claude keys
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-latest.yml
Due: none

refactor(maz-ui): reduce MazSlider CSS bundle size with CSS variable
  apps/docs/src/components/maz-badge.md
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/tests/specs/components/MazFullscreenLoader.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.9.2
  CHANGELOG.md
  package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, icons, translations, nuxt, themes, maz-ui Library, Icons Package, Translations Package, Nuxt Package, Themes Package

fix(maz-ui): prevent spurious router link warning on MazBtn, MazCard and MazAvatar
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCard.vue
Due: lib, maz-ui Library

feat(docs): add relizy promo banner on home page
  apps/docs/src/index.md
Due: none

refactor(docs): migrate icon examples to per-icon import paths
  apps/docs/.vitepress/theme/components/ComponentDemo.vue
  apps/docs/src/components/maz-btn-group.md
  apps/docs/src/components/maz-btn.md
  apps/docs/src/components/maz-dropdown.md
  apps/docs/src/components/maz-icon.md
  apps/docs/src/components/maz-link.md
  apps/docs/src/components/maz-popover.md
  apps/docs/src/guide/icon-set.md
  apps/docs/src/guide/icons.md
Due: none

docs(maz-ui): update README icon import examples to per-icon paths
  packages/lib/README.md
Due: lib, maz-ui Library

refactor(vue-app): use per-icon import path for MazTrash
  apps/vue-app/src/App.vue
Due: none

refactor(@maz-ui/mcp): use import attributes 'with' instead of deprecated 'assert'
  packages/mcp/src/__tests__/mcp.test.ts
  packages/mcp/src/mcp.ts
Due: mcp, MCP Package

chore(@maz-ui/cli): fix typecheck by adding node types to tsconfig
  packages/maz-cli/tsconfig.json
Due: maz-cli, Maz CLI

chore(release): bump version to 4.9.3
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(docs): display demos
  apps/docs/src/index.md
Due: none

feat!: v5 - tailwind migration and theming
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

chore(release): consolidate v5 migration plan + capture v3 baselines
  plans/2026-02-24-tailwind-v4-migration.md
  tools/baselines/v3-buildtime.txt
  tools/baselines/v3-bundle.txt
Due: none

chore(deps): upgrade to Tailwind CSS v4 + minimal postcss v4 compat
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  pnpm-lock.yaml
Due: lib, maz-ui Library

chore(maz-ui): add tools/migrate-tw-prefix codemod for Phase 3
  tools/migrate-tw-prefix/README.md
  tools/migrate-tw-prefix/cli.ts
  tools/migrate-tw-prefix/transform.test.ts
  tools/migrate-tw-prefix/transform.ts
Due: none

refactor(@maz-ui/themes): Phase 1 — multi-format color support with hsl() output
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/color-parser.test.ts
  packages/themes/src/utils/__tests__/color-utils.test.ts
  packages/themes/src/utils/color-parser.ts
  packages/themes/src/utils/color-utils.ts
  packages/themes/src/utils/css-generator.ts
  plans/2026-02-24-tailwind-v4-migration.md
Due: themes, Themes Package

feat(maz-ui): Phase 2 — Tailwind v4 CSS-first bridge
  packages/lib/src/css/padded-container-vars.css
  packages/lib/src/tailwindcss/tailwind.config.ts
  packages/lib/src/tailwindcss/tailwind.css
  packages/lib/src/tailwindcss/theme-breakpoints.css
  packages/lib/src/tailwindcss/theme-colors.css
  packages/lib/src/tailwindcss/theme-radius.css
  packages/lib/src/tailwindcss/theme-shadows.css
  packages/lib/src/tailwindcss/theme-typography.css
  packages/lib/src/tailwindcss/theme-z-index.css
  packages/lib/src/tailwindcss/theme.css
  packages/lib/src/tailwindcss/utilities.css
  packages/lib/stylelint.config.mjs
  plans/2026-02-24-tailwind-v4-migration.md
Due: lib, maz-ui Library

test(maz-ui): revert codemod over-reach in resolver + circular progress tests
  packages/lib/tests/specs/components/MazCircularProgressBar.spec.ts
  packages/lib/tests/specs/resolvers/MazComponentsResolver.spec.ts
Due: none

fix(maz-ui): revert codemod over-reach on non-Tailwind strings
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazIcon.vue
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/css/animation.css
  packages/lib/src/css/index.css
  packages/lib/src/css/padded-container-vars.css
  packages/lib/src/css/reset.css
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
Due: lib, maz-ui Library

test(maz-ui): fix test expectations to align with Tailwind v4 migration
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazLink.spec.ts
  packages/lib/tests/specs/components/MazReadMore.spec.ts
  packages/lib/tests/specs/components/MazSelectCountry.spec.ts
Due: none

feat(maz-ui): Phase 4 start — add @tailwindcss/vite plugin to vite.config
  packages/lib/vite.config.ts
Due: lib, maz-ui Library

refactor(maz-ui): switch lib build to @tailwindcss/cli
  packages/lib/build/ViteCompileStyles.ts
Due: none

chore(maz-ui): re-add autoprefixer devDep for SCSS aos build
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, maz-ui Library

feat(maz-ui): add z-default-backdrop + cap-f @utility for v4
  packages/lib/src/tailwindcss/utilities.css
  packages/lib/stylelint.config.mjs
Due: lib, maz-ui Library

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
