Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 4.7.6
  CHANGELOG.md
  package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package

chore: remove unused deps
  package.json
  pnpm-lock.yaml
Due: none

fix(@maz-ui/eslint-config): restrict sonarjs config to JS/TS/Vue files
  packages/eslint-config/src/configs/sonarjs.ts
  packages/eslint-config/src/index.ts
Due: none

chore: enable nx cache for dev
  nx.json
Due: none

chore(maz-ui): remove sonarjs eslint-disable comments and simplify code
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/composables/useDisplayNames.ts
  packages/lib/src/composables/useDropzone.ts
  packages/lib/tests/specs/composables/useFormValidator/index.spec.ts
  packages/lib/tests/specs/composables/useTimer.spec.ts
Due: lib, maz-ui Library

chore: inline unnecessary variables across packages
  packages/icons/utils/getComponentList.ts
  packages/themes/src/utils/cookie-storage.ts
  packages/translations/src/utils/instance.ts
Due: icons, translations, themes, Icons Package, Translations Package, Themes Package

chore: update coverage thresholds
  packages/lib/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
Due: lib, translations, themes, maz-ui Library, Translations Package, Themes Package

ci: add JSDocs to peer deps checker
  .github/scripts/check-peer-deps.mjs
Due: none

chore(maz-ui): update coverage thresholds
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.7.7
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: none

fix(maz-ui): replace icons barrel imports by selective imports
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerMonthSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerYearSwitcher.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazLink.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

chore(release): bump version to 4.7.8
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix: replace internal barrel imports by selective imports
  apps/docs/.vitepress/theme/components/Contributors.vue
  apps/docs/.vitepress/theme/index.ts
  apps/nuxt-app/src/components/LangSwitcher.vue
  apps/nuxt-app/src/components/TestForm.vue
  apps/nuxt-app/src/layouts/default.vue
  apps/nuxt-app/src/pages/index.vue
  apps/vue-app/src/App.vue
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/plugins/maz-ui.ts
  packages/lib/tests/specs/components/MazDropdown.spec.ts
  packages/lib/tests/specs/plugins/maz-ui.spec.ts
  packages/mcp/package.json
  packages/mcp/scripts/copy-docs.ts
  packages/mcp/src/mcp.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/__tests__/translations.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/translations.spec.ts
  packages/nuxt/src/runtime/plugins/translations.ts
  packages/nuxt/vitest.config.ts
  packages/themes/src/plugin.ts
  packages/themes/src/utils/__tests__/no-transition.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/no-transition.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/src/utils/use-mutation-observer.ts
  pnpm-lock.yaml
Due: lib, mcp, nuxt, themes, maz-ui Library, MCP Package, Nuxt Package, Themes Package

chore(release): bump version to 4.7.9
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, mcp, nuxt, themes, maz-ui Library, MCP Package, Nuxt Package, Themes Package

fix(@maz-ui/eslint-config): don't apply vue rules on MD files
  packages/eslint-config/src/index.ts
Due: none

build(@maz-ui/eslint-config): upgrade @antfu/eslint-config to v7.7.2
  .github/scripts/check-peer-deps.mjs
  CHANGELOG.md
  packages/eslint-config/package.json
  pnpm-lock.yaml
  reddit/reddit-post.md
Due: none

refactor: JS performance improvements
  apps/docs/.vitepress/config.mts
  apps/docs/components/ColorPicker.vue
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/ftp-deploy.mjs
  package.json
  packages/icons/svg/building-office.svg
  packages/icons/utils/ViteGenerateIconsComponentsEntry.ts
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazDatePicker-branch.spec.ts
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarGrid.spec.ts
  packages/lib/tests/specs/components/MazInputPrice-branch.spec.ts
  packages/lib/tests/specs/components/MazInputTags-branch.spec.ts
  packages/lib/tests/specs/components/MazPagination.spec.ts
  packages/lib/vitest.config.ts
  packages/maz-cli/src/utils/to-kebab-case.ts
  packages/mcp/eslint.config.ts
  packages/mcp/src/DocumentationService.ts
  packages/mcp/src/mcp.ts
  packages/mcp/vitest.config.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/themes/src/utils/color-utils.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
  packages/translations/src/utils/locales.ts
  packages/translations/src/utils/messages.ts
  packages/translations/vitest.config.ts
  packages/utils/src/helpers/camelCase.ts
  packages/utils/src/helpers/kebabCase.ts
  packages/utils/src/helpers/normalizeString.ts
  packages/utils/src/helpers/snakeCase.ts
  packages/utils/vitest.config.ts
  tools/cli/config/templates.js
  tools/cli/docgen.config.js
Due: lib, utils, mcp, icons, translations, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Themes Package, Maz CLI

build(@maz-ui/eslint-config): upggrade @antfu/eslint-config to v7.7.2
  CHANGELOG.md
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.ts
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazDatePicker-branch.spec.ts
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarGrid.spec.ts
  packages/lib/tests/specs/components/MazInputPrice-branch.spec.ts
  packages/lib/tests/specs/components/MazInputTags-branch.spec.ts
  packages/lib/tests/specs/components/MazPagination.spec.ts
  packages/lib/vitest.config.ts
  packages/mcp/eslint.config.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
  packages/translations/src/utils/locales.ts
  pnpm-lock.yaml
Due: lib, mcp, translations, themes, maz-ui Library, MCP Package, Translations Package, Themes Package

chore(release): bump version to 4.7.10-beta.0
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, mcp, translations, nuxt, themes, maz-ui Library, MCP Package, Translations Package, Nuxt Package, Themes Package

feat(maz-ui): add MazTicker component
  .commitlintrc.ts
  apps/docs/.vitepress/configs/components.mts
  apps/docs/src/components/maz-ticker.md
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazTicker.spec.ts
  packages/nuxt/src/module.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
