Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

test(@maz-ui/node): add unit tests
  .github/workflows/test-unit.yml
  packages/node/package.json
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/__tests__/logger.spec.ts
  packages/node/src/__tests__/printBanner.spec.ts
  packages/node/tsconfig.json
  packages/node/vitest.config.ts
Due: node, Node Package

test(@maz-ui/nuxt): add unit tests
  .github/workflows/test-unit.yml
  codecov.yml
  packages/nuxt/package.json
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/runtime/composables/__tests__/useAos.spec.ts
  packages/nuxt/src/runtime/composables/__tests__/useDialog.spec.ts
  packages/nuxt/src/runtime/composables/__tests__/useToast.spec.ts
  packages/nuxt/src/runtime/composables/__tests__/useWait.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/aos.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/dialog.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/dialog.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/maz-icon-path.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/toast.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/toast.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/translations.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/translations.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/v-click-outside.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/v-fullscreen-img.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/v-lazy-img.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/v-tooltip.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/v-zoom-img.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/wait.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/wait.spec.ts
  packages/nuxt/vitest.config.ts
Due: nuxt, Nuxt Package

chore: update codecov config
  codecov.yml
Due: none

perf(@maz-ui/utils): improving performances of JS code
  packages/utils/src/helpers/countryCodeToUnicodeFlag.ts
Due: utils, Utils Package

chore(@maz-ui/eslint-config): upgrade eslint sonar plugin
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

test(@maz-ui/node): use Gherkin style (given/when/then) in tests
  codecov.yml
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/__tests__/logger.spec.ts
  packages/node/src/__tests__/printBanner.spec.ts
Due: none

perf(maz-ui): improving performances of JS code
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/useMazInputPhoneNumber.ts
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/composables/useDropzone.ts
  packages/lib/src/composables/useFormValidator/dom-events.ts
  packages/lib/src/composables/useInstanceUniqId.ts
  packages/lib/src/composables/useReadingTime.ts
  packages/lib/src/plugins/aos.ts
  packages/lib/src/resolvers/MazComponentsResolver.ts
  packages/lib/src/resolvers/MazDirectivesResolver.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tailwind.config.ts
  packages/lib/tests/specs/components/MazSlider-branch.spec.ts
  packages/lib/tests/specs/components/MazTable.spec.ts
  packages/lib/tests/specs/composables/useFormValidator/utils.spec.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

chore: upgrade pnpm-lock
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/resolvers/MazComponentsResolver.ts
  pnpm-lock.yaml
  tools/cli/src/utils/pascal-case-to-kebab-case.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.7.4
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

fix(docs): MazInput - remove outdated mention about required charac
  apps/docs/src/components/maz-input.md
Due: none

fix(maz-ui): MazInputPhoneNumber - The 'required' attribute was not applied to the select and input elements - #1496
  apps/docs/src/components/maz-input-phone-number.md
  apps/docs/src/components/maz-input-price.md
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
Due: lib, maz-ui Library

ci: disable expired reports in codecov config
  codecov.yml
Due: none

chore(docs): remove required attribut
  apps/docs/src/components/maz-input-phone-number.md
Due: none

chore(release): bump version to 4.7.5
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

ci: update github action versions
  .github/actions/setup/action.yml
  .github/tmp/dry-run-release.yml
  .github/workflows/build-and-typecheck.yml
  .github/workflows/check-peer-deps.yml
  .github/workflows/doc-deploy.yml
  .github/workflows/linters.yml
Due: none

build: minor dependency upgrades
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/lib/tests/specs/components/MazSlider.spec.ts
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, mcp, icons, nuxt, maz-ui Library, Utils Package, MCP Package, Icons Package, Nuxt Package

build: minor dependency upgrades
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

build: bump vite to v8
  package.json
  pnpm-lock.yaml
Due: none

build: migrate vite to v8
  apps/vue-app/vite.config.ts
  package.json
  packages/icons/vite.config.ts
  packages/lib/build/ViteBuildMazCli.ts
  packages/lib/build/ViteBuildNuxtModule.ts
  packages/lib/build/analyze-bundle.ts
  packages/lib/package.json
  packages/lib/vite.config.ts
  packages/nuxt/vitest.config.ts
  packages/themes/vite.config.ts
  packages/translations/vite.config.ts
  packages/utils/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/src/commands/generate-components-docs/index.ts
Due: lib, utils, icons, translations, nuxt, themes, maz-ui Library, Utils Package, Icons Package, Translations Package, Nuxt Package, Themes Package

chore(release): bump version to 4.7.6-beta.0
  CHANGELOG.md
  package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package

feat: migrate vite to v8
  relizy.config.ts
Due: none
