Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

chore: add @maz-ui/forms to commitlint
  .commitlintrc.ts
Due: none

chore: resolve bugs
  pnpm-lock.yaml
Due: none

chore: re-organize deps
  packages/forms/package.json
Due: none

chore: some changes
  packages/forms/package.json
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tsconfig.json
  relizy.independant.config.ts
Due: nuxt, Nuxt Package

chore(@maz-ui/forms): configs
  packages/forms/.vscode/settings.json
  packages/forms/eslint.config.ts
  packages/forms/vite.config.ts
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(@maz-ui/forms): wip
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/components/__tests__/FormBuilder.spec.ts
  packages/forms/src/components/__tests__/FormErrorSummary.spec.ts
  packages/forms/src/components/__tests__/FormField.spec.ts
  packages/forms/src/components/__tests__/FormSection.spec.ts
  packages/forms/src/components/__tests__/FormWizard.spec.ts
  packages/forms/src/components/index.ts
  packages/forms/src/composables/__tests__/useFormBuilder.spec.ts
  packages/forms/src/composables/index.ts
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/__tests__/component-map.spec.ts
  packages/forms/src/utils/__tests__/schema-helpers.spec.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/stylelint.config.mjs
  packages/forms/vite.config.ts
Due: none

feat(@maz-ui/nuxt): add support of @maz-ui/forms with auto imports
  package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  pnpm-lock.yaml
  relizy.config.ts
  relizy.independent.config.ts
Due: nuxt, Nuxt Package

chore(vue-app): clean imported code to test bundle size
  apps/nuxt-app/package.json
  apps/nuxt-app/src/components/GeneratedForm.vue
  apps/nuxt-app/src/pages/index.vue
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/AppHeader.vue
  apps/vue-app/src/main.ts
  apps/vue-app/vite.config.ts
  packages/forms/TODO.md
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/themes/src/plugin.ts
  pnpm-lock.yaml
Due: lib, themes, maz-ui Library, Themes Package

chore(@maz-ui/translations): remove useless type
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/src/components/GeneratedForm.vue
  packages/forms/src/components/FormBuilder.vue
  packages/translations/src/plugin.ts
Due: translations, Translations Package

chore(release): bump version to 4.7.2-beta.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-cli, maz-ui Library, Nuxt Package, Maz CLI

build: upgrade relizy dependency
  package.json
  pnpm-lock.yaml
Due: none

chore(cli): remove unused eslint disable rule
  tools/cli/config/templates.js
Due: none

chore: upgrade relizy
  package.json
  pnpm-lock.yaml
Due: none

feat: US-001 - Mettre à jour les dépendances ESLint et plugins
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/index.ts
  packages/mcp/package.json
  pnpm-lock.yaml
  tasks/prd-migration-eslint-v9-vers-eslint-v10.md
  tasks/prd.json
Due: mcp, MCP Package

feat: US-002 - Mettre à jour la contrainte Node.js
  packages/eslint-config/package.json
  tasks/prd.json
Due: none

feat: US-003 - Fixer les violations des nouvelles règles recommended
  packages/eslint-config/src/configs/base.ts
  packages/icons/utils/getComponentList.ts
  packages/lib/src/components/MazInputPhoneNumber/useLibphonenumber.ts
  packages/mcp/src/mcp.ts
  packages/utils/src/helpers/formatCurrency.ts
  packages/utils/src/helpers/formatDate.ts
  packages/utils/src/helpers/formatNumber.ts
  packages/utils/src/helpers/getBrowserLocale.ts
  packages/utils/src/helpers/idleTimeout.ts
  packages/utils/src/helpers/scriptLoader.ts
  tasks/prd.json
Due: lib, utils, mcp, icons, maz-ui Library, Utils Package, MCP Package, Icons Package

feat: US-004 - Nettoyer les usages dépréciés dans la config ESLint
  tasks/prd.json
Due: none

feat: US-006 - Vérifier la compatibilité avec eslint-plugin-tailwindcss
  packages/eslint-config/package.json
  tasks/prd.json
Due: none

feat: US-005 - Vérifier le lint sur tous les types de fichiers
  packages/eslint-config/package.json
  tasks/prd.json
Due: none

build: migrate to eslint v10 (#1474)
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.ts
  packages/eslint-config/src/index.ts
  packages/icons/utils/getComponentList.ts
  packages/lib/src/components/MazInputPhoneNumber/useLibphonenumber.ts
  packages/mcp/package.json
  packages/mcp/src/mcp.ts
  packages/utils/src/helpers/formatCurrency.ts
  packages/utils/src/helpers/formatDate.ts
  packages/utils/src/helpers/formatNumber.ts
  packages/utils/src/helpers/getBrowserLocale.ts
  packages/utils/src/helpers/idleTimeout.ts
  packages/utils/src/helpers/scriptLoader.ts
  pnpm-lock.yaml
Due: lib, utils, mcp, icons, maz-ui Library, Utils Package, MCP Package, Icons Package

feat: US-001 - Bump Vitest dependencies to v4.0.18
  package.json
  packages/mcp/tsconfig.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  tasks/prd-migration-vitest-v3-v4.md
  tasks/prd.json
Due: utils, mcp, Utils Package, MCP Package

feat: US-003 - Configure coverage.include for all packages
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  tasks/prd.json
Due: lib, utils, mcp, translations, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Themes Package

feat: US-004 - Regenerate snapshots in v4 format
  tasks/prd.json
Due: none

feat: US-005 - Fix regressions from vi.mock and other breaking changes
  packages/lib/tests/specs/components/MazAnimatedElement.spec.ts
  packages/lib/tests/specs/components/MazAnimatedText.spec.ts
  packages/lib/tests/specs/components/MazCardSpotlight.spec.ts
  packages/lib/tests/specs/components/MazCircularProgressBar.spec.ts
  packages/lib/tests/specs/components/MazDropzone.spec.ts
  packages/lib/tests/specs/components/MazInputPhoneNumber/useLibphonenumber.spec.ts
  packages/lib/tests/specs/composables/useSwipe.spec.ts
  packages/lib/tests/specs/directives/vLazyImg.spec.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vitest.config.ts
  packages/mcp/src/__tests__/mcp.test.ts
  packages/mcp/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  tasks/prd-migration-vitest-v3-v4.md
  tasks/prd.json
Due: lib, utils, mcp, translations, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Themes Package

feat: US-002 - Update vitest.config.ts exclude patterns
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  tasks/prd.json
Due: lib, utils, mcp, translations, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Themes Package

test: use istanbul coverage provider instead of v8
  package.json
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: lib, utils, mcp, translations, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Themes Package

chore: add plan to migrate to tailwindcss v4
  eslint.config.ts
  plans/2026-02-24-tailwind-v4-migration.md
  plans/TODO.md
Due: none

chore: remove oxlint
  apps/vue-app/eslint.config.ts
  apps/vue-app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, maz-ui Library

build: upgrade dependencies
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/tests/specs/components/MazSelectCountry.spec.ts
  packages/lib/tests/specs/components/__snapshots__/MazDialog.spec.ts.snap
  packages/mcp/package.json
  pnpm-lock.yaml
Due: lib, mcp, maz-ui Library, MCP Package

build: upgrade dependencies (#1476)
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/tests/specs/components/MazSelectCountry.spec.ts
  packages/lib/tests/specs/components/__snapshots__/MazDialog.spec.ts.snap
  packages/mcp/package.json
  pnpm-lock.yaml
Due: lib, mcp, maz-ui Library, MCP Package
