Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(docs): correct component name in icons guide example
  apps/docs/src/guide/icons.md
Due: none

feat(maz-ui): MazBtn - add active prop and active state styles
  packages/lib/src/components/MazBtn.vue
Due: lib, maz-ui Library

refactor(@maz-ui/themes): mazUi & pristine - increase border-width from 0.5px to 1px
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/pristine.ts
Due: themes, Themes Package

feat(maz-ui): MazBtnGroup - new component to group MazBtn components
  apps/docs/.vitepress/configs/components.mts
  apps/docs/.vitepress/theme/components/ComponentDemo.vue
  apps/docs/src/components/maz-btn-group.md
  packages/lib/src/components/MazBtnGroup.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazBtnGroup.spec.ts
  packages/nuxt/src/module.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(maz-ui): MazTextarea - remove postcss lang in style part
  packages/lib/src/components/MazTextarea.vue
Due: lib, maz-ui Library

ci: fix dependabot branch pattern and remove codecov uploads
  .github/workflows/test-unit-dependabot.yml
  .github/workflows/test-unit.yml
Due: none

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/lib/stylelint.config.mjs
  packages/mcp/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, mcp, icons, translations, themes, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Themes Package

refactor(docs): remove mention of v3
  apps/docs/.vitepress/theme/components/Layout.vue
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/index.md
Due: none

ci: filter test unit jobs with github author
  .github/workflows/test-unit-dependabot.yml
  .github/workflows/test-unit.yml
Due: none

refactor(docs): increase padding of hero section
  apps/docs/src/index.md
Due: none

ci: remove test unit dependabot workflows and filter upload steps
  .github/workflows/test-unit-dependabot.yml
  .github/workflows/test-unit.yml
Due: none

chore(release): bump version to 4.4.0-beta.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, mcp, node, nuxt, themes, maz-cli, maz-ui Library, MCP Package, Node Package, Nuxt Package, Themes Package, Maz CLI

refactor(maz-ui): MazAnimatedText - make gradientVia prop optionnal
  packages/lib/src/components/MazAnimatedText.vue
Due: lib, maz-ui Library

chore(maz-ui): MazAnimatedCounter - remove commented code
  packages/lib/src/components/MazAnimatedCounter.vue
Due: lib, maz-ui Library

chore(deps): upgrade relizy and its config
  package.json
  pnpm-lock.yaml
  relizy.config.ts
Due: none

chore: update relizy version to 1.0.0-beta.0
  package.json
  pnpm-lock.yaml
  relizy.config.ts
Due: none

refactor(@maz-ui/node): add noError option to execPromise logger
  packages/node/src/execPromise.ts
Due: node, Node Package

chore(release): bump version to 4.3.4-beta.6
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): MazStepper - add content property and point slot
  apps/docs/src/components/maz-stepper.md
  packages/lib/src/components/MazStepper.vue
Due: lib, maz-ui Library

fix(docs): do not fetching ignored contributors
  apps/docs/.vitepress/theme/components/Contributors.vue
Due: none

chore(maz-ui): MazCardSpotlight - remove transform transition
  packages/lib/src/components/MazCardSpotlight.vue
Due: lib, maz-ui Library

chore(release): bump version to 4.3.4-beta.4
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(@maz-ui/nuxt): use better way to add css file
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

feat(maz-ui): add resetForm function and auto-reset on submit success
  apps/docs/src/composables/use-form-validator.md
  packages/lib/src/composables/useFormValidator.ts
  packages/lib/src/composables/useFormValidator/types.ts
  packages/lib/tests/specs/composables/useFormValidator.spec.ts
  packages/lib/tests/specs/composables/useFormValidator/index.spec.ts
Due: lib, maz-ui Library

fix(maz-ui): MazPagination - accessibility issues with aria attributes
  apps/docs/src/components/maz-pagination.md
  packages/lib/src/components/MazPagination.vue
  packages/lib/tests/specs/components/MazPagination.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.3.4-beta.7
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: code formatting
  apps/nuxt-app/public/favicon.ico
  apps/nuxt-app/public/js.svg
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
