Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

refactor(docs): increase icon set count
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/blog/v4.md
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/icon-set.md
  apps/docs/src/guide/icons.md
  apps/docs/src/guide/migration-v4.md
  apps/docs/src/index.md
Due: none

feat(maz-ui): MazUiProvider - alternative to MazUi plugin
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/themes.md
  apps/docs/src/guide/translations.md
  apps/docs/src/guide/vue.md
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/ThemeSwitcher.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/views/HomeView.vue
  apps/vue-app/vite.config.ts
  packages/lib/package.json
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazUiProvider.spec.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vite.config.ts
  packages/mcp/src/__tests__/DocumentationService.test.ts
  packages/nuxt/src/module.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/plugin.ts
  packages/themes/vitest.config.ts
  packages/translations/src/index.ts
  packages/translations/src/useTranslations.ts
Due: lib, translations, nuxt, themes, maz-ui Library, Translations Package, Nuxt Package, Themes Package

chore(release): bump version to 4.7.0-beta.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 4.7.0-beta.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

refactor(maz-ui): optimize icon imports with static and lazy sub-paths
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerMonthSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerYearSwitcher.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazLink.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
  pnpm-lock.yaml
Due: lib, maz-ui Library

refactor(@maz-ui/themes): extract theme setup into modular utilities
  packages/themes/package.json
  packages/themes/src/index.ts
  packages/themes/src/plugin.ts
  packages/themes/src/utils/index.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/src/utils/inject.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/vite.config.ts
Due: themes, Themes Package

chore(release): bump version to 4.7.0-beta.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: update relizy config - no publish prerelease versions on twitter
  relizy.config.ts
Due: none

ci: add translations coverage upload to codecov
  .github/workflows/test-unit.yml
Due: none

test(@maz-ui/translations): add unit tests for translations utilities and plugin
  packages/translations/src/__tests__/plugin.test.ts
  packages/translations/src/composables/__tests__/useTranslations.test.ts
  packages/translations/src/utils/__tests__/inject.test.ts
  packages/translations/src/utils/__tests__/instance.test.ts
  packages/translations/src/utils/__tests__/locales.test.ts
  packages/translations/src/utils/__tests__/messages.test.ts
  packages/translations/tsconfig.json
  packages/translations/vitest.config.ts
Due: translations, Translations Package

chore(release): bump version to 4.7.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

fix(@maz-ui/themes): make setupTheme always return synchronously to fix plugin state injection
  packages/themes/src/__tests__/plugin.test.ts
  packages/themes/src/plugin.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

chore(release): bump version to 4.7.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

build: upgrade dependencies
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: lib, nuxt, maz-cli, maz-ui Library, Nuxt Package, Maz CLI

ci: add canary release workflow
  .github/workflows/release-canary.yml
  package.json
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/tests/vitest-global.setup.ts
  pnpm-lock.yaml
  tools/cli/src/commands/create-files/index.ts
Due: lib, maz-ui Library

chore: use relizy canary version
  package.json
  pnpm-lock.yaml
Due: none

chore: use relizy beta version
  package.json
  pnpm-lock.yaml
Due: none

build: update dependencies (#1470)
  .github/workflows/release-canary.yml
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/tests/vitest-global.setup.ts
  packages/maz-cli/package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  tools/cli/package.json
  tools/cli/src/commands/create-files/index.ts
Due: lib, nuxt, maz-cli, maz-ui Library, Nuxt Package, Maz CLI

feat: US-002 - Define TypeScript types for form schema
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
Due: none

feat: US-001 - Create package structure and base configuration
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/index.ts
  packages/forms/tsconfig.json
  packages/forms/vite.config.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-005 - Implement FormField component
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-004 - Create component map with lazy loading
  packages/forms/src/index.ts
  packages/forms/src/utils/component-map.ts
Due: none

feat: US-003 - Implement defineFormSchema helper
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-006 - Implement FormSection component
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-007 - Implement basic FormBuilder component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-009 - Implement form state management
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-008 - Add Valibot validation support
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/translations/src/locales/en.ts
Due: translations, Translations Package

feat: US-014 - Implement accessibility features
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-013 - Implement error summary component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-010 - [BLOCKER] FIX ERROR: Delete useFormBuilderValidation.ts and use existing maz-ui composables instead
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/tsconfig.json
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-020 - Add Nuxt module integration
  packages/nuxt/src/module.ts
  packages/nuxt/src/types/index.ts
Due: nuxt, Nuxt Package

feat: US-017 - Support multiple form instances
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-016 - Implement customization slots
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-018 - Implement multi-step wizard mode
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-021 - Write unit tests with >90% coverage
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/components/FormErrorSummary.spec.ts
  packages/forms/tests/specs/components/FormField.spec.ts
  packages/forms/tests/specs/components/FormSection.spec.ts
  packages/forms/tests/specs/components/FormWizard.spec.ts
  packages/forms/tests/specs/utils/component-map.spec.ts
  packages/forms/tests/specs/utils/schema-helpers.spec.ts
  packages/forms/vitest.config.ts
Due: none

chore(@maz-ui/translations): remove useless translations
  packages/translations/src/locales/en.ts
Due: translations, Translations Package
