Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

fix(@maz-ui/themes): re-resolve colorTransition on preset swap
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

feat(@maz-ui/themes): thread lightClass and colorTransition through injectThemeCSS
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

feat(@maz-ui/themes): add { animate } option to setColorMode and toggleDarkMode for View Transitions
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/view-transition.test.ts
  packages/themes/src/utils/view-transition.ts
Due: themes, Themes Package

feat(@maz-ui/themes): skip noTransition wrap on toggle when colorTransition is enabled
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/update-document-class.ts
Due: themes, Themes Package

feat(@maz-ui/themes): inject color-scheme meta to prevent FART at boot
  packages/themes/src/utils/__tests__/color-scheme-meta.test.ts
  packages/themes/src/utils/color-scheme-meta.ts
  packages/themes/src/utils/index.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

docs(@maz-ui/themes): document lightClass, colorTransition, animate, and modern CSS architecture
  packages/themes/README.md
Due: themes, Themes Package

fix(@maz-ui/nuxt): forward lightClass/colorTransition + inject color-scheme meta on SSR
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/view-transition.test.ts
  packages/themes/vitest.config.ts
Due: nuxt, themes, Nuxt Package, Themes Package

fix(@maz-ui/nuxt): forward lightClass and resolved colorTransition to SSR generateCSS
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

test(@maz-ui/themes): snapshot the colorTransition: true CSS output
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
Due: none

chore(@maz-ui/themes): remove baseline-css artifact (refactor complete)
  packages/themes/.baseline-css/maz-ui.css
  packages/themes/.baseline-css/nova.css
  packages/themes/.baseline-css/obsidian.css
  packages/themes/.baseline-css/ocean.css
  packages/themes/.baseline-css/pristine.css
  packages/themes/scripts/baseline-current-css.ts
Due: themes, Themes Package

test(@maz-ui/themes): cover remaining branches in css-generator and useTheme animate path
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

test(@maz-ui/themes): assert updateDocumentClass returns early for mode='dark'
  packages/themes/src/utils/__tests__/update-document-class.test.ts
Due: none

docs(docs): update theming pages for v5 light-dark + colorTransition + animate
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/migration-v4.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/tailwind.md
  apps/docs/src/guide/themes.md
Due: none

docs(@maz-ui/themes): note Promise discard in colorMode computed setter
  packages/themes/src/composables/useTheme.ts
Due: themes, Themes Package

refactor(@maz-ui/themes): short-circuit light-dark when light equals dark
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
Due: themes, Themes Package

refactor(@maz-ui/themes): dedup colorTransition re-resolution via internal _rawColorTransition
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/inject.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

test(@maz-ui/themes): restore branches threshold above 97.21% via real-computed integration test and broader coverage
  packages/themes/src/composables/__tests__/useTheme.integration.test.ts
  packages/themes/src/utils/__tests__/color-parser.test.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

chore(vue-app): expose new theme options in demo app
  apps/vue-app/src/App.vue
Due: none

docs: add v5 themes refactor design and implementation plan
  plans/2026-05-11-themes-modern-css-implementation.md
  plans/2026-05-11-themes-modern-css-refactor.md
Due: none

test(maz-ui): cover vZoomImg handler load/navigation/close paths
  packages/lib/tests/specs/directives/vZoomImg/zoom-img.handler.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

test(maz-ui): refresh auto-updated coverage thresholds after health run
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

refactor(@maz-ui/themes): drop colorTransition and @property blocks
  packages/themes/src/build/index.ts
  packages/themes/src/composables/__tests__/useTheme.integration.test.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/__tests__/inject.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/src/utils/update-document-class.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

refactor(@maz-ui/nuxt): drop colorTransition forwarding
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

docs: remove colorTransition references
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/migration-v4.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/themes.md
  apps/vue-app/src/App.vue
  packages/lib/vitest.config.ts
  packages/themes/README.md
Due: lib, themes, maz-ui Library, Themes Package

perf(@maz-ui/themes): inline scale-mix-percentages and tighten css-generator helpers
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/scale-mix-percentages.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/scale-mix-percentages.ts
Due: themes, Themes Package

perf(@maz-ui/themes): tighten setup-theme and color-scheme-meta
  packages/themes/src/utils/color-scheme-meta.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

perf(@maz-ui/themes): shorten useTheme error messages
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
Due: themes, Themes Package

test(@maz-ui/themes): refresh coverage branch threshold after css-generator simplification
  packages/themes/vitest.config.ts
Due: themes, Themes Package

refactor(@maz-ui/themes): split color-parser into runtime-minimal and conversions modules
  apps/docs/components/ColorPicker.vue
  packages/themes/src/utils/__tests__/color-conversions.test.ts
  packages/themes/src/utils/__tests__/color-parser.test.ts
  packages/themes/src/utils/color-conversions.ts
  packages/themes/src/utils/color-parser.ts
  packages/themes/src/utils/index.ts
Due: themes, Themes Package

feat(@maz-ui/themes): switch scale palette to relative color syntax (preserves chroma)
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/tailwind.md
  apps/docs/src/guide/themes.md
  packages/themes/README.md
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
Due: themes, Themes Package

perf(@maz-ui/themes): additional bundle trimming
  packages/themes/src/build/index.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

feat(@maz-ui/themes): tighten 300 and 700 scale offsets for less extreme tints/shades
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
Due: themes, Themes Package

chore(vue-app): clean css
  apps/vue-app/src/assets/main.css
  apps/vue-app/src/main.ts
  apps/vue-app/src/tailwind.css
Due: none

chore(release): bump version to 5.0.0-beta.7
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

fix: add default condition to exports for CJS resolver fallback
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/mcp/vitest.config.ts
  packages/node/package.json
  packages/nuxt/package.json
  packages/stylelint-config/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/upgrade/package.json
Due: mcp, icons, translations, node, nuxt, themes, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package

chore(release): bump version to 5.0.0-beta.8
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Due: lib, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

build: upgrade relizy
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade yolo deps
  package.json
  pnpm-lock.yaml
Due: none
