Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

docs: link upgrade package from root README
  README.md
Due: none

docs(docs): announce v5 on the home page and move Relizy below the hero
  apps/docs/src/index.md
  apps/docs/src/public/icons/logo.svg
Due: none

chore: clean up remaining @maz-ui/codemod references after the rebrand
  apps/docs/src/guide/browser-support.md
  codecov.yml
  packages/nuxt/tsconfig.json
Due: nuxt, Nuxt Package

chore: drop the v4 tailwind migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

test(@maz-ui/upgrade): refresh coverage thresholds
  packages/upgrade/vitest.config.ts
Due: none

test(@maz-ui/nuxt): bump branches coverage threshold to 100
  packages/nuxt/vitest.config.ts
Due: nuxt, Nuxt Package

feat(@maz-ui/upgrade): bump maz-ui dependencies and run install automatically
  apps/docs/src/blog/v5.md
  apps/docs/src/guide/migration-v5.md
  packages/upgrade/README.md
  packages/upgrade/src/cli.ts
  packages/upgrade/src/index.ts
  packages/upgrade/src/transform.test.ts
  packages/upgrade/src/transform.ts
  packages/upgrade/vitest.config.ts
Due: none

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/stylelint-config/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: lib, utils, mcp, nuxt, maz-cli, maz-ui Library, Utils Package, MCP Package, Nuxt Package, Maz CLI

chore(release): bump version to 5.0.0-beta.0
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/vue.ts
  packages/eslint-config/src/index.ts
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/build/ViteCompileStyles.ts
  packages/lib/package.json
  packages/lib/src/tailwindcss/dist-entry.css
  packages/lib/src/tailwindcss/tailwind.css
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.3
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): Inputs - top label and assistive text
  apps/docs/src/components/maz-container.md
  apps/docs/src/components/maz-input-phone-number.md
  apps/docs/src/components/maz-textarea.md
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazTextarea.vue
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
Due: lib, themes, maz-ui Library, Themes Package

chore(release): bump version to 5.0.0-beta.4
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.4
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/eslint.config.ts
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/themes/src/build/index.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/vitest.config.ts
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.5
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/lib/package.json
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/vitest.config.ts
  packages/upgrade/package.json
  packages/upgrade/vitest.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, maz-ui Library, Utils Package

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/lib/package.json
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/vitest.config.ts
  packages/upgrade/package.json
  packages/upgrade/vitest.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
  yolo.config.ts
Due: lib, utils, maz-ui Library, Utils Package

chore: edit yolo.config
  pnpm-lock.yaml
  yolo.config.ts
Due: none

feat(@maz-ui/eslint-config): add maz/tailwind-no-arbitrary-px rule and maz plugin
  apps/docs/src/ecosystem/eslint-config.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/__tests__/index.test.ts
  packages/eslint-config/src/__tests__/plugin.test.ts
  packages/eslint-config/src/configs/__tests__/declarative.test.ts
  packages/eslint-config/src/configs/__tests__/logger.test.ts
  packages/eslint-config/src/configs/__tests__/tailwindcss.test.ts
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/plugin.ts
  packages/eslint-config/src/rules/index.ts
  packages/eslint-config/src/rules/tailwind/__tests__/no-arbitrary-px.test.ts
  packages/eslint-config/src/rules/tailwind/no-arbitrary-px.ts
  packages/eslint-config/src/types.ts
  packages/eslint-config/vitest.config.ts
Due: none

ci: enable codecov upload for eslint-config and stylelint-config
  .github/workflows/test-unit.yml
  codecov.yml
  packages/eslint-config/vitest.config.ts
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
Due: lib, mcp, maz-ui Library, MCP Package

chore(release): bump version to 5.0.0-beta.6
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

ci: update action plugin versions
  .github/actions/setup/action.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-latest.yml
  .github/workflows/test-unit.yml
Due: none

chore(@maz-ui/themes): capture baseline CSS for refactor validation
  packages/themes/.baseline-css/maz-ui.css
  packages/themes/.baseline-css/nova.css
  packages/themes/.baseline-css/obsidian.css
  packages/themes/.baseline-css/ocean.css
  packages/themes/.baseline-css/pristine.css
  packages/themes/scripts/baseline-current-css.ts
Due: themes, Themes Package

feat(@maz-ui/themes): add lightClass and colorTransition options to ThemeConfig
  packages/themes/src/types/index.ts
Due: none

feat(@maz-ui/themes): add scale mix percentages table for color-mix derived palettes
  packages/themes/src/utils/__tests__/scale-mix-percentages.test.ts
  packages/themes/src/utils/scale-mix-percentages.ts
Due: themes, Themes Package

feat(@maz-ui/themes): rewrite CSS generator around light-dark and color-mix
  packages/themes/src/build/index.ts
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
Due: themes, Themes Package

fix(@maz-ui/themes): correct @property initial-value, hoist @property out of @layer, filter transition keys, validate transition input
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
Due: themes, Themes Package

refactor(@maz-ui/themes): remove JS color scale generator (now derived via color-mix in CSS)
  packages/themes/src/index.ts
  packages/themes/src/utils/__tests__/color-utils.test.ts
  packages/themes/src/utils/color-utils.ts
  packages/themes/src/utils/index.ts
Due: themes, Themes Package

feat(@maz-ui/themes): updateDocumentClass handles light/dark/auto via colorMode signature
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/update-document-class.ts
Due: themes, Themes Package

fix(@maz-ui/themes): pass ColorMode (not boolean) to updateDocumentClass
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

feat(@maz-ui/themes): wire lightClass and colorTransition through setupTheme
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/utils/__tests__/inject.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
