Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

chore(nuxt-app): use the shared VitePreNestedCss plugin in dev
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/package.json
  apps/nuxt-app/src/css/main.css
Due: none

refactor(maz-ui): drop unused marker classes from MazContainer
  apps/docs/src/components/maz-table.md
  packages/lib/src/components/MazTable.vue
  packages/nuxt/tsconfig.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(docs): upgrade relizy to 1.5.1
  package.json
  pnpm-lock.yaml
Due: none

chore(release): bump version to 5.0.0-beta.47
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

feat(maz-ui): support any Standard Schema library in useFormValidator
  apps/docs/package.json
  packages/lib/package.json
  packages/lib/src/composables/index.ts
  packages/lib/src/composables/useFormValidator/types.ts
  packages/lib/src/composables/useFormValidator/validation.ts
  packages/lib/tests/specs/composables/useFormValidator/standard-schema.spec.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

docs(docs): document Standard Schema support in useFormValidator
  apps/docs/src/composables/use-form-validator.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/index.md
Due: none

chore(release): bump version to 5.0.0-beta.48
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(@maz-ui/nuxt): fix the NUXT_E1001 server error when the theme preset is persisted
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

fix(maz-ui): render URL and data URI icons of MazIcon without hydration mismatch
  packages/lib/src/components/MazIcon.vue
  packages/lib/src/utils/svg-utils.ts
  packages/lib/tests/specs/components/MazIcon.spec.ts
  packages/lib/tests/specs/utils/svgUtils.test.ts
Due: lib, maz-ui Library

docs(docs): document MazIcon SSR behavior for URL and data URI icons
  apps/docs/src/components/maz-icon.md
Due: none

chore(release): bump version to 5.0.0-beta.49
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

feat(@maz-ui/translations): add pull to refresh texts
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
Due: translations, Translations Package

feat(maz-ui): add usePullToRefresh headless composable
  packages/lib/src/composables/index.ts
  packages/lib/src/composables/usePullToRefresh.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/composables/usePullToRefresh.spec.ts
Due: lib, maz-ui Library

feat(@maz-ui/nuxt): auto-import usePullToRefresh
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/types/index.ts
Due: nuxt, Nuxt Package

feat(maz-ui): rework MazPullToRefresh on top of usePullToRefresh
  packages/lib/src/components/MazPullToRefresh.vue
  packages/lib/tests/specs/components/MazPullToRefresh.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

docs(docs): document usePullToRefresh and the new MazPullToRefresh
  apps/docs/.vitepress/configs/composables.mts
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/components/maz-pull-to-refresh.md
  apps/docs/src/composables/use-pull-to-refresh.md
  apps/docs/src/ecosystem/nuxt.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/resolvers.md
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

chore(release): bump version to 5.0.0-beta.50
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, mcp, translations, nuxt, maz-ui Library, MCP Package, Translations Package, Nuxt Package
