Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(maz-ui): apply @reference + @apply fixes in subdir components, directives, plugins
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
  plans/2026-02-24-tailwind-v4-migration.md
  tools/migrate-tw-prefix/add-reference.mjs
  tools/migrate-tw-prefix/fix-apply-important.mjs
Due: lib, maz-ui Library

fix(maz-ui): apply v4 bare-utility renames missed by first codemod pass
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazFullscreenLoader.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  tools/migrate-tw-prefix/transform.ts
Due: lib, maz-ui Library

fix(maz-ui): apply @tailwindcss/upgrade v4 idiomatic improvements
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

docs(release): mark Phases 3 & 4 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

feat(vue-app): Phase 5.1 — migrate app to Tailwind v4
  apps/vue-app/postcss.config.cjs
  apps/vue-app/src/App.vue
  apps/vue-app/src/assets/main.css
  apps/vue-app/src/components/ColorScale.vue
  apps/vue-app/src/components/ThemeSwitcher.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/tailwind.css
  apps/vue-app/src/views/ColorView.vue
  apps/vue-app/src/views/ComponentView.vue
  apps/vue-app/src/views/HomeView.vue
  apps/vue-app/tailwind.config.ts
  apps/vue-app/vite.config.ts
Due: none

feat(nuxt-app): Phase 5.3 — migrate to Tailwind v4 with @tailwindcss/vite
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/package.json
  apps/nuxt-app/src/components/TestForm.vue
  apps/nuxt-app/src/components/ThemeSwitcher.vue
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/src/layouts/default.vue
  apps/nuxt-app/src/pages/index.vue
  apps/nuxt-app/tailwind.config.ts
  pnpm-lock.yaml
  tools/migrate-tw-prefix/add-reference-generic.mjs
Due: none

docs(release): mark Phase 5 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

feat(maz-ui): Phase 6.4 — publish consumer-facing Tailwind CSS exports
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/guide/tailwind.md
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/package.json
  packages/lib/src/tailwindcss/theme.css
Due: lib, maz-ui Library

docs: surface Tailwind v4 integration in Vue, Nuxt, and Getting Started
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/vue.md
Due: none

docs(release): mark Phase 6.4 consumer integration done
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

chore(maz-ui): Phase 6.1-6.2 — delete the v3 Tailwind config plumbing
  package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/tailwindcss/index.ts
  packages/lib/src/tailwindcss/tailwind.config.ts
  packages/lib/src/tailwindcss/utils/colors.ts
  packages/lib/src/tailwindcss/variables/colors.ts
  packages/lib/src/tailwindcss/variables/design-tokens.ts
  packages/lib/src/tailwindcss/variables/utilities.ts
  packages/lib/src/tailwindcss/variables/z-indexes.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

chore: Phase 6.3 — drop Tailwind-specific lint plugins
  apps/nuxt-app/stylelint.config.mjs
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  packages/lib/stylelint.config.mjs
  pnpm-lock.yaml
Due: lib, maz-ui Library

docs(release): mark Phase 6 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

test(@maz-ui/mcp): update guide fixtures after tailwind.md addition
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

chore(maz-ui): Phase 7.2/7.3/7.6/7.8 — typecheck, lint, CSS inspection, bundle/build metrics
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/stylelint.config.mjs
  packages/lib/src/tailwindcss/variables/breakpoints.ts
  tools/baselines/SUMMARY.md
  tools/baselines/v5-buildtime.txt
  tools/baselines/v5-bundle.txt
Due: none

docs(release): mark Phase 7 mostly done (visual + playwright deferred)
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

docs: Phase 8.2 — add Maz-UI v4 to v5 migration guide
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/migration-v5.md
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

chore(release): allow @maz-ui/codemod scope in commitlint
  .commitlintrc.ts
  packages/codemod/README.md
  packages/codemod/build.config.ts
  packages/codemod/package.json
  packages/codemod/src/cli.ts
  packages/codemod/src/index.ts
  packages/codemod/src/transform.test.ts
  packages/codemod/src/transform.ts
  packages/codemod/tsconfig.json
  pnpm-lock.yaml
Due: none

docs(release): mark Phase 8 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

docs: Phase 9.3 - add browser support guide for v5
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/browser-support.md
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

docs(release): mark Phase 9 partial (doc pages done, release artifacts pending)
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

docs(release): capture v5 PR review feedback tracker (16 entries)
  plans/review-feedback-v5.md
Due: none

chore(release): remove tools/baselines and tools/migrate-tw-prefix
  tools/baselines/SUMMARY.md
  tools/baselines/v3-buildtime.txt
  tools/baselines/v3-bundle.txt
  tools/baselines/v5-buildtime.txt
  tools/baselines/v5-bundle.txt
  tools/migrate-tw-prefix/README.md
  tools/migrate-tw-prefix/add-reference-generic.mjs
  tools/migrate-tw-prefix/add-reference.mjs
  tools/migrate-tw-prefix/cli.ts
  tools/migrate-tw-prefix/fix-apply-important.mjs
  tools/migrate-tw-prefix/fix-hsl-var.mjs
  tools/migrate-tw-prefix/revert-bem.mjs
  tools/migrate-tw-prefix/transform.test.ts
  tools/migrate-tw-prefix/transform.ts
Due: none

chore(release): maintainer WIP during v5 PR review
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/.vitepress/configs/navbar.mts
  apps/docs/.vitepress/theme/main.css
  apps/vue-app/src/App.vue
  packages/nuxt/tsconfig.json
Due: nuxt, Nuxt Package

fix(maz-ui): restore default border color in maz-ui components
  packages/lib/src/css/reset.css
Due: lib, maz-ui Library

docs: remove Tailwind setup from standard install flow
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/vue.md
Due: none

docs(release): rewrite migration-v5.md around maz-ui changes only
  apps/docs/src/guide/migration-v5.md
Due: none

docs(release): reframe tailwind.md as an optional bonus page
  apps/docs/src/guide/tailwind.md
Due: none

chore(maz-ui): remove redundant postcss.config.cjs
  packages/lib/postcss.config.cjs
Due: lib, maz-ui Library

fix(maz-ui): restore breakpoint-driven padded container responsive rules
  packages/lib/src/css/padded-container-vars.css
Due: lib, maz-ui Library

feat(maz-ui): tokenize theme-shadows.css — theme-driven color + alpha
  packages/lib/src/tailwindcss/theme-shadows.css
Due: none

feat(@maz-ui/eslint-config): restore optional eslint-plugin-tailwindcss
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  pnpm-lock.yaml
Due: none

fix(docs): drop @reference directives from <style> blocks that do not use @apply
  apps/docs/src/components/maz-backdrop.md
  apps/docs/src/composables/use-swipe.md
  apps/docs/src/guide/resolvers.md
  apps/docs/src/guide/translations.md
Due: none

feat(@maz-ui/themes): expose motion tokens via ThemeFoundation
  packages/lib/src/tailwindcss/theme-typography.css
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
Due: themes, Themes Package

fix(nuxt-app): use bare @import "tailwindcss" so prefix(maz) applies
  packages/codemod/eslint.config.ts
  packages/codemod/src/cli.ts
  packages/codemod/src/transform.ts
  packages/codemod/tsconfig.json
Due: none

fix(nuxt-app): restore bare @import "tailwindcss" and pin stylelint
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/stylelint.config.mjs
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
