Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): add MazTicker component
  .commitlintrc.ts
  apps/docs/.vitepress/configs/components.mts
  apps/docs/src/components/maz-ticker.md
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazTicker.spec.ts
  packages/nuxt/src/module.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): add MazTimeline component
  apps/docs/.vitepress/configs/components.mts
  apps/docs/src/components/maz-backdrop.md
  apps/docs/src/components/maz-btn-group.md
  apps/docs/src/components/maz-timeline.md
  apps/docs/src/composables/use-form-validator.md
  packages/lib/src/components/MazTimeline.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazDropzone.spec.ts
  packages/lib/tests/specs/components/MazPullToRefresh.spec.ts
  packages/lib/tests/specs/components/MazTimeline.spec.ts
  packages/lib/tests/specs/directives/vFullscreenImg/MazFullscreenImg.spec.ts
  packages/lib/vitest.config.ts
  packages/nuxt/src/module.ts
  plans/2026-01-21-new-features-ideas.md
  resources/reddit/reddit-post.md
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: reset beta versions
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/themes/package.json
  packages/translations/package.json
Due: lib, mcp, translations, nuxt, themes, maz-ui Library, MCP Package, Translations Package, Nuxt Package, Themes Package

chore(release): bump version to 4.7.10-beta.0
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, mcp, translations, nuxt, themes, maz-ui Library, MCP Package, Translations Package, Nuxt Package, Themes Package

build(@maz-ui/eslint-config): upggrade @antfu/eslint-config to v7.7.2
  CHANGELOG.md
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.ts
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazDatePicker-branch.spec.ts
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarGrid.spec.ts
  packages/lib/tests/specs/components/MazInputPrice-branch.spec.ts
  packages/lib/tests/specs/components/MazInputTags-branch.spec.ts
  packages/lib/tests/specs/components/MazPagination.spec.ts
  packages/lib/vitest.config.ts
  packages/mcp/eslint.config.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
  packages/translations/src/utils/locales.ts
  pnpm-lock.yaml
Due: lib, mcp, translations, themes, maz-ui Library, MCP Package, Translations Package, Themes Package

fix(@maz-ui/eslint-config): don't apply vue rules on MD files
  packages/eslint-config/src/index.ts
Due: none

chore(release): bump version to 4.8.0
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, mcp, translations, nuxt, themes, maz-ui Library, MCP Package, Translations Package, Nuxt Package, Themes Package

feat(@maz-ui/mcp): search engine improvements
  packages/mcp/README.md
  packages/mcp/src/DocumentationService.ts
  packages/mcp/src/MetadataExtractor.ts
  packages/mcp/src/SearchEngine.ts
  packages/mcp/src/UnifiedSearchService.ts
  packages/mcp/src/__tests__/DocumentationService.test.ts
  packages/mcp/src/__tests__/MetadataExtractor.test.ts
  packages/mcp/src/__tests__/SearchEngine.test.ts
  packages/mcp/src/__tests__/UnifiedSearchService.test.ts
  packages/mcp/src/__tests__/mcp.test.ts
  packages/mcp/src/mcp.ts
  packages/mcp/vitest.config.ts
  resources/reddit/reddit-post.md
  tasks/prd-refonte-du-mcp-maz-ui-recherche-full-text-performante.md
  tasks/prd.json
Due: mcp, MCP Package

fix(maz-ui): use provide/inject to resolve NuxtLink in resolveLinkComponent
  packages/lib/src/components/MazLink.vue
  packages/lib/src/utils/resolveLinkComponent.ts
  packages/lib/tests/specs/utils/resolveLinkComponent.test.ts
Due: lib, maz-ui Library

feat(@maz-ui/nuxt): provide NuxtLink component via maz-link-component plugin
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/__tests__/maz-link-component.spec.ts
  packages/nuxt/src/runtime/plugins/maz-link-component.ts
Due: nuxt, Nuxt Package

feat(@maz-ui/themes): persist resolved color mode in cookie for SSR dark mode detection
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/get-color-mode.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

fix(@maz-ui/nuxt): prevent dark mode FOUC with blocking script and resolved color mode cookie
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

test(@maz-ui/themes): improve test coverage for color mode and theme setup
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/utils/__tests__/get-color-mode.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

test(@maz-ui/nuxt): add tests for resolved color mode cookie and blocking script
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/vitest.config.ts
Due: nuxt, Nuxt Package

chore(release): bump version to 4.9.0
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, mcp, nuxt, themes, maz-ui Library, MCP Package, Nuxt Package, Themes Package

chore: upgrade relizy to 1.2.1
  package.json
  pnpm-lock.yaml
Due: none

refactor(maz-ui): check slot content to render the slot
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazFullscreenLoader.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/utils/hasSlotContent.ts
  packages/lib/tests/specs/utils/hasSlotContent.test.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.0
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(vue-app): add components view
  apps/vue-app/src/App.vue
  apps/vue-app/src/router/index.ts
  apps/vue-app/src/views/ComponentView.vue
Due: none

refactor(maz-ui): use base rounded size in all components to inherits theme value
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/tests/specs/components/MazAvatar-extended.spec.ts
  packages/lib/tests/specs/components/MazContainer-branch.spec.ts
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazSkeleton.spec.ts
  packages/lib/tests/specs/components/MazTimeline.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.1
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(maz-ui): use base rounded size in all components to inherits theme value
  packages/lib/src/components/MazAvatar.vue
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.2
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(@maz-ui/nuxt): SSR build with toast plugin anc Vite@8 (Rolldown)
  packages/nuxt/src/runtime/plugins/__tests__/aos.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/dialog.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/dialog.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/toast.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/toast.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/wait.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/wait.spec.ts
  packages/nuxt/src/runtime/plugins/aos.ts
  packages/nuxt/src/runtime/plugins/dialog.ts
  packages/nuxt/src/runtime/plugins/toast.ts
  packages/nuxt/src/runtime/plugins/wait.ts
Due: nuxt, Nuxt Package

chore(release): bump version to 4.9.1-beta.3
  CHANGELOG.md
  package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: nuxt, Nuxt Package

fix(@maz-ui/nuxt): colorMode config option overrides user cookie preference on page reload
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/nuxt/vitest.config.ts
Due: nuxt, Nuxt Package

chore(release): bump version to 4.9.1-beta.4
  CHANGELOG.md
  package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: nuxt, Nuxt Package

perf(maz-ui): replace JS autogrow with native CSS field-sizing in MazTextarea
  apps/docs/src/components/maz-textarea.md
  packages/lib/src/components/MazTextarea.vue
  packages/lib/tests/specs/components/MazTextarea.spec.ts
Due: lib, maz-ui Library

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
