Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore: drop --parallel=100% from health script
  package.json
Due: none

feat(maz-ui): MazTextarea - add size and minRows props
  packages/lib/src/components/MazTextarea.vue
  packages/lib/tests/specs/components/MazTextarea.spec.ts
Due: lib, maz-ui Library

docs(docs): MazTextarea - document size and minRows
  apps/docs/src/components/maz-textarea.md
Due: none

chore(release): bump version to 5.0.0-beta.39
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

test(@maz-ui/mcp): include useDrag in documentation service expectations
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

fix(maz-ui): MazAvatar & MazLazyImg - image-height-full on safari browser
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazLazyImg.vue
Due: lib, maz-ui Library

fix(maz-ui): vLazyImg - share observers, prevent leak and add disabled option
  packages/lib/src/directives/vLazyImg/lazy-img.directive.ts
  packages/lib/src/directives/vLazyImg/lazy-img.handler.ts
  packages/lib/src/directives/vLazyImg/types.ts
  packages/lib/tests/specs/components/MazAvatar.spec.ts
  packages/lib/tests/specs/directives/vLazyImg.spec.ts
Due: lib, maz-ui Library

docs(docs): MazAvatar, MazLazyImg & vLazyImg - refresh documentation
  apps/docs/src/components/maz-avatar.md
  apps/docs/src/components/maz-lazy-img.md
  apps/docs/src/directives/lazy-img.md
Due: none

chore(docs): use --maz-* css variables in examples
  apps/docs/.vitepress/theme/main.css
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/src/ecosystem/themes.md
  apps/docs/src/ecosystem/utils/currency.md
  apps/docs/src/ecosystem/utils/date.md
  apps/docs/src/ecosystem/utils/number.md
  apps/docs/src/plugins/wait.md
Due: none

chore(@maz-ui/utils): raise coverage thresholds
  packages/utils/vitest.config.ts
Due: utils, Utils Package

chore(maz-ui): raise coverage thresholds
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.40
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(maz-ui): MazPullToRefresh - ssr mismatch
  packages/lib/src/components/MazPullToRefresh.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.41
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(maz-ui): MazBtn - fab button size
  packages/lib/src/components/MazBtn.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.42
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(@maz-ui/eslint-config): scope unicorn/prefer-global-this to JS/TS files
  packages/eslint-config/src/__tests__/index.test.ts
  packages/eslint-config/src/configs/base.ts
  packages/eslint-config/src/configs/unicorn.ts
  packages/eslint-config/src/index.ts
Due: none

chore(release): bump version to 5.0.0-beta.43
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: none

fix(maz-ui): MazSidebar - outline style on nav btn
  packages/lib/src/components/MazSidebar.vue
Due: lib, maz-ui Library

chore(docs): upgrade vitepress
  apps/docs/package.json
  apps/docs/src/components/maz-sidebar.md
Due: none

fix(maz-ui): MazSidebar - outline style on nav btn
  apps/docs/src/guide/migration-v5.md
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/src/components/MazSidebarTrigger.vue
Due: lib, maz-ui Library

chore: upgrade pnpm to 12.6.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(@maz-ui/upgrade): add MazPullToRefresh on-click to on-refresh codemod
  packages/upgrade/README.md
  packages/upgrade/src/transform.test.ts
  packages/upgrade/src/transform.ts
Due: none

docs(docs): document MazPullToRefresh on-refresh migration
  apps/docs/src/guide/migration-v5.md
Due: none

docs(docs): use maz: prefix in MazChecklist example
  apps/docs/src/components/maz-checklist.md
Due: none

feat(maz-ui): export global config types from plugins
  packages/lib/src/plugins/index.ts
Due: none

build(maz-ui): remove legacy tailwind config and redundant package fields
  packages/lib/.vscode/settings.json
  packages/lib/package.json
  packages/lib/tailwind.config.ts
Due: lib, maz-ui Library

chore(deps): update dev dependencies
  package.json
  packages/eslint-config/package.json
  packages/mcp/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: mcp, MCP Package

build(maz-ui): restore autoprefixer for AOS style compilation
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, maz-ui Library

refactor(maz-ui): explicitly type defineModel generics
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazPopover.vue
Due: lib, maz-ui Library

refactor(maz-ui): MazAvatar - emit font-size as a plain css value
  packages/lib/src/components/MazAvatar.vue
  packages/lib/tests/specs/components/MazAvatar.spec.ts
Due: lib, maz-ui Library

fix(@maz-ui/stylelint-config): ignore Tailwind at-rules in at-rule-prelude-no-invalid
  packages/stylelint-config/src/configs/tailwind.ts
Due: none

chore(@maz-ui/upgrade): raise coverage thresholds
  packages/upgrade/vitest.config.ts
Due: none

build(deps): upgrade dependencies
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/package.json
Due: lib, maz-cli, maz-ui Library, Maz CLI

test(maz-ui): convert repetitive specs to parameterized tests
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarGrid.spec.ts
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazInputNumber-branch.spec.ts
  packages/lib/tests/specs/components/MazMarkdownEditor.spec.ts
  packages/lib/tests/specs/components/MazPopover.spec.ts
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/tests/specs/components/MazSkeleton.spec.ts
  packages/lib/tests/specs/components/MazTimeline.spec.ts
  packages/lib/tests/specs/composables/useFormValidator/dom-events.spec.ts
  packages/lib/tests/specs/resolvers/MazComponentsResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazDirectivesResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazModulesResolver.spec.ts
  packages/lib/tests/specs/utils/hasSlotContent.test.ts
Due: none

test(maz-ui): settle dynamic imports after each test
  packages/lib/tests/vitest-global.setup.ts
Due: none

test(@maz-ui/mcp): parameterize specs and fix invalid assertions
  packages/mcp/src/__tests__/SearchEngine.test.ts
  packages/mcp/src/__tests__/mcp.test.ts
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
