Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): MazBtn - add active prop and active state styles
  packages/lib/src/components/MazBtn.vue
Due: lib, maz-ui Library

refactor(docs): remove mention of v3
  apps/docs/.vitepress/theme/components/Layout.vue
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/index.md
Due: none

chore(release): bump version to 4.3.4-beta.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: upgrade dependencies
  apps/docs/.vitepress/theme/components/Contributors.vue
  package.json
  pnpm-lock.yaml
  relizy.config.ts
Due: none

fix(docs): correct component name in icons guide example
  apps/docs/src/guide/icons.md
Due: none

fix(maz-ui): MazDropdown - accessibility issues with aria attributes
  CHANGELOG.md
  packages/lib/CHANGELOG.md
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazDropdown.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.3.4-beta.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(maz-ui): MazAnimateCounter - hydration issue with SSR
  packages/lib/src/components/MazAnimatedCounter.vue
Due: lib, maz-ui Library

chore(maz-ui): MazAnimatedCounter - remove commented code
  packages/lib/src/components/MazAnimatedCounter.vue
Due: lib, maz-ui Library

chore(release): bump version to 4.3.4-beta.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, mcp, nuxt, maz-ui Library, Utils Package, MCP Package, Nuxt Package

ci: fix dependabot branch pattern and remove codecov uploads
  .github/workflows/test-unit-dependabot.yml
  .github/workflows/test-unit.yml
Due: none

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/lib/src/components/MazDatePicker/MazPickerCalendar.vue
  packages/lib/src/components/MazDatePicker/MazPickerShortcuts.vue
  packages/mcp/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, mcp, icons, translations, themes, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Themes Package

chore(release): bump version to 4.3.4-beta.5
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(maz-ui): MazRadioButtons - items alignment
  .gitignore
  packages/lib/src/components/MazRadioButtons.vue
Due: lib, maz-ui Library

ci: remove test unit dependabot workflows and filter upload steps
  .github/workflows/test-unit-dependabot.yml
  .github/workflows/test-unit.yml
Due: none

fix(cli): path for files creation
  tools/cli/src/commands/create-files/create-documentation-file.ts
  tools/cli/src/commands/create-files/create-library-component-file.ts
  tools/cli/src/commands/create-files/create-library-test-file.ts
Due: none

test(maz-ui): add comprehensive tests for MazCardSpotlight component
  packages/lib/tests/specs/components/MazCardSpotlight.spec.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(maz-ui): MazTextarea - remove postcss lang in style part
  packages/lib/src/components/MazTextarea.vue
Due: lib, maz-ui Library

chore(vue-app): add color link to header
  apps/vue-app/src/App.vue
Due: none

refactor(maz-ui): MazAnimatedText - you can now choose the gradient colors
  packages/lib/src/components/MazAnimatedText.vue
Due: lib, maz-ui Library

ci: filter test unit jobs with github author
  .github/workflows/test-unit-dependabot.yml
  .github/workflows/test-unit.yml
Due: none

refactor(maz-ui): MazAnimatedText - make gradientVia prop optionnal
  packages/lib/src/components/MazAnimatedText.vue
Due: lib, maz-ui Library

refactor(@maz-ui/themes): mazUi & pristine - increase border-width from 0.5px to 1px
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/pristine.ts
Due: themes, Themes Package

chore(release): bump version to 4.3.4-beta.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, node, nuxt, maz-cli, maz-ui Library, MCP Package, Node Package, Nuxt Package, Maz CLI

chore(deps): upgrade relizy and its config
  package.json
  pnpm-lock.yaml
  relizy.config.ts
Due: none

fix(maz-ui): MazDropdown - add support of accent color for menu item
  packages/lib/src/components/MazDropdown.vue
Due: lib, maz-ui Library

perf(maz-ui): optimize MazCardSpotlight animation performance
  packages/lib/src/components/MazCardSpotlight.vue
Due: lib, maz-ui Library

ci: add dry-run release workflow test
  .github/tmp/dry-run-release.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-latest.yml
  apps/docs/ftp-deploy.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore(release): bump version to 4.4.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, mcp, node, nuxt, themes, maz-cli, maz-ui Library, MCP Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore: add twitter-api-v2 deps to auto post with relizy
  package.json
  pnpm-lock.yaml
Due: none

chore: fix CHANGELOG.md format
  CHANGELOG.md
Due: none

feat(@maz-ui/icons): add new iconsAdded icons: MazFacebook, MazInstagram, MazLinkedin MazNpm, MazTwitter and MazQuote
  packages/icons/logos/facebook.svg
  packages/icons/logos/instagram.svg
  packages/icons/logos/linkedin.svg
  packages/icons/logos/npm.svg
  packages/icons/logos/twitter.svg
  packages/icons/src/components/MazLogoFacebook.ts
  packages/icons/src/components/MazLogoInstagram.ts
  packages/icons/src/components/MazLogoLinkedin.ts
  packages/icons/src/components/MazLogoNpm.ts
  packages/icons/src/components/MazLogoTwitter.ts
  packages/icons/src/components/MazQuote.ts
  packages/icons/src/icon-list.ts
  packages/icons/src/index.ts
  packages/icons/svg/quote.svg
Due: icons, Icons Package

feat(maz-ui): MazReadMore - new component to truncate long text
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazReadMore.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): MazSkeleton - new component for loading placeholders
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/tests/specs/components/MazSkeleton.spec.ts
Due: lib, maz-ui Library

feat(@maz-ui/translations): add translations for MazReadMore and MazSkeleton
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
Due: translations, Translations Package

feat(@maz-ui/nuxt): auto-import MazReadMore and MazSkeleton
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

docs: add documentation for MazReadMore and MazSkeleton
  apps/docs/.vitepress/configs/components.mts
  apps/docs/src/components/maz-read-more.md
  apps/docs/src/components/maz-skeleton.md
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
