Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

chore(release): bump version to 4.9.1
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

ci: upgrade relizy and enable ai rewrite
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  relizy.config.ts
Due: none

chore(docs): add robots.txt
  apps/docs/src/public/robots.txt
Due: none

chore: replace relizy url
  CHANGELOG.md
  README.md
  packages/nuxt/CHANGELOG.md
Due: nuxt, Nuxt Package

chore: upgrade dependencies
  .github/workflows/yolo.yml
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/themes/package.json
  packages/translations/package.json
  pnpm-lock.yaml
Due: lib, icons, translations, themes, maz-ui Library, Icons Package, Translations Package, Themes Package

build: reset correctly vue peer dependencies versions
  packages/icons/package.json
  packages/lib/package.json
  packages/themes/package.json
  packages/translations/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lib, icons, translations, themes, maz-ui Library, Icons Package, Translations Package, Themes Package

fix(lib): add TypeScript 6 compatibility for CSS subpath exports
  packages/lib/build/ViteCompileStyles.ts
  packages/lib/package.json
Due: lib, maz-ui Library

test(maz-ui): adding test for MazInput and MazTextarea
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/tests/specs/components/MazAnimatedText.spec.ts
  packages/lib/tests/specs/components/MazCheckbox-extended.spec.ts
  packages/lib/tests/specs/components/MazCheckbox.spec.ts
  packages/lib/tests/specs/components/MazInput.spec.ts
  packages/lib/tests/specs/components/MazTabsBar-branch.spec.ts
  packages/lib/tests/specs/components/MazTabsBar.spec.ts
  packages/lib/tests/specs/components/MazTextarea.spec.ts
  packages/lib/tests/specs/directives/vLazyImg.spec.ts
  packages/lib/tests/specs/utils/autofillSync.test.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

fix(maz-ui): sync MazInput state on browser autofill
  packages/lib/src/components/MazInput.vue
  packages/lib/src/utils/autofillSync.ts
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazInput.spec.ts
Due: lib, maz-ui Library

fix(maz-ui): sync MazTextarea state on browser autofill
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/utils/autofillSync.ts
  packages/lib/tests/specs/components/MazTextarea.spec.ts
Due: lib, maz-ui Library

refactor(maz-ui): reduce MazBtn CSS bundle size with CSS variables
  packages/lib/src/components/MazBtn.vue
  packages/lib/tests/specs/components/MazBtn.spec.ts
  packages/lib/tests/specs/components/MazBtnGroup.spec.ts
Due: lib, maz-ui Library

refactor(maz-ui): reduce MazSpinner CSS bundle size with CSS variable
  packages/lib/src/components/MazSpinner.vue
Due: lib, maz-ui Library

refactor(maz-ui): reduce MazBadge CSS bundle size with CSS variables
  packages/lib/src/components/MazBadge.vue
Due: lib, maz-ui Library

refactor(maz-ui): reduce MazSlider CSS bundle size with CSS variable
  apps/docs/src/components/maz-badge.md
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/tests/specs/components/MazFullscreenLoader.spec.ts
Due: lib, maz-ui Library

refactor(maz-ui): reduce MazSlider CSS bundle size with CSS variable
  apps/docs/src/components/maz-badge.md
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/tests/specs/components/MazFullscreenLoader.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore: add @yoloship/claude-sdk in devDep
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade dependencies
  .codedov.yml
  package.json
  packages/eslint-config/package.json
  packages/lib/vitest.config.ts
  packages/mcp/package.json
  packages/mcp/vitest.config.ts
  packages/node/vitest.config.ts
  packages/nuxt/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: lib, utils, mcp, translations, node, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Node Package, Nuxt Package, Themes Package

ci: add claude keys
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-latest.yml
Due: none

chore(release): bump version to 4.9.2-beta.0
  CHANGELOG.md
  package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, icons, translations, nuxt, themes, maz-ui Library, Icons Package, Translations Package, Nuxt Package, Themes Package

test(maz-ui): correct flaky test
  packages/lib/tests/specs/components/MazStepper-branch.spec.ts
Due: none
