Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

build: upgrade relizy
  package.json
  pnpm-lock.yaml
  yolo.config.ts
Due: none

chore: upgrade yolo deps
  pnpm-lock.yaml
Due: none

feat(maz-ui): add MazCodeHighlight and MazWindowMockup components (#1569)
  apps/docs/.vitepress/configs/badges.mts
  apps/docs/.vitepress/configs/components.mts
  apps/docs/.vitepress/configs/ecosystem.mts
  apps/docs/.vitepress/theme/components/Layout.vue
  apps/docs/.vitepress/theme/components/ThemeSwitcher.vue
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/assets/interface-screenshot.png
  apps/docs/src/components/maz-code-highlight.md
  apps/docs/src/components/maz-timeline.md
  apps/docs/src/components/maz-window-mockup.md
  apps/docs/src/guide/getting-started.md
  packages/lib/package.json
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCircularProgressBar.vue
  packages/lib/src/components/MazCodeHighlight.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazFullscreenLoader.vue
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/src/components/MazSpinner.vue
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/src/components/MazWindowMockup.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazCodeHighlight.spec.ts
  packages/lib/tests/specs/components/MazWindowMockup.spec.ts
  packages/lib/vitest.config.ts
  packages/nuxt/src/module.ts
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
  pnpm-lock.yaml
Due: lib, translations, nuxt, maz-ui Library, Translations Package, Nuxt Package

chore(release): bump version to 5.0.0-beta.9
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, mcp, translations, nuxt, maz-ui Library, MCP Package, Translations Package, Nuxt Package

feat(maz-ui): add MazSidebar component system (#1574)
  apps/docs/.vitepress/configs/components.mts
  apps/docs/.vitepress/theme/components/Layout.vue
  apps/docs/components/DemoAuthPage.vue
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/eslint.config.ts
  apps/docs/src/components/maz-sidebar.md
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/components/MazSidebarContent.vue
  packages/lib/src/components/MazSidebarFooter.vue
  packages/lib/src/components/MazSidebarGroup.vue
  packages/lib/src/components/MazSidebarHeader.vue
  packages/lib/src/components/MazSidebarMenu.vue
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarMenuItem.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/src/components/MazSidebarSeparator.vue
  packages/lib/src/components/MazSidebarTrigger.vue
  packages/lib/src/components/index.ts
  packages/lib/src/composables/index.ts
  packages/lib/src/composables/useSidebar.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/tests/specs/components/MazSidebarContent.spec.ts
  packages/lib/tests/specs/components/MazSidebarFooter.spec.ts
  packages/lib/tests/specs/components/MazSidebarGroup.spec.ts
  packages/lib/tests/specs/components/MazSidebarHeader.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenu.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuButton.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuItem.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuSub.spec.ts
  packages/lib/tests/specs/components/MazSidebarSeparator.spec.ts
  packages/lib/tests/specs/components/MazSidebarTrigger.spec.ts
  packages/lib/tsconfig.json
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
  packages/nuxt/src/module.ts
  yolo.config.ts
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

chore(maz-ui): update test treesholds
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.10
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(maz-ui): MazDatePicker - use dayjs ESM instead of CJS
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendar.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarMonth.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerContainer.vue
  packages/lib/src/components/MazDatePicker/MazPickerHeader.vue
  packages/lib/src/components/MazDatePicker/MazPickerMonthSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazDatePicker/MazPickerYearSwitcher.vue
  packages/lib/src/components/MazDatePicker/utils.ts
  relizy.config.ts
Due: lib, maz-ui Library

fix(maz-ui): MazBtn - fix loading layout
  packages/lib/src/components/MazBtn.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.12
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(release): bump version to 5.0.0-beta.11
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(maz-ui): MazDatePicker tests - align dayjs imports with ESM
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarGrid.spec.ts
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarMonth.spec.ts
  packages/lib/tests/specs/components/MazDatePicker/MazPickerShortcuts.spec.ts
  packages/lib/tests/specs/components/MazDatePicker/utils.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.13
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(maz-ui): MazTable - scrollable behaviour
  packages/lib/src/components/MazTable.vue
Due: lib, maz-ui Library

fix(docs): bundle dayjs for SSR to handle extension-less ESM imports
  apps/docs/.vitepress/config.mts
Due: none

chore(release): bump version to 5.0.0-beta.14
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): MazSidebar - close/open persistent on SSR
  apps/docs/src/components/maz-sidebar.md
  packages/lib/src/components/MazSidebar.vue
  packages/lib/tests/specs/components/MazSidebar-ssr.spec.ts
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/vitest.config.ts
  packages/themes/src/utils/__tests__/cookie-storage.test.ts
  packages/themes/src/utils/cookie-storage.ts
Due: lib, themes, maz-ui Library, Themes Package

feat(maz-ui): improve MazSidebar
  apps/docs/src/components/maz-sidebar.md
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarTrigger.vue
  packages/lib/src/components/index.ts
  packages/lib/src/directives/vTooltip.ts
  packages/lib/tests/specs/components/MazCodeHighlight.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuButton.spec.ts
  packages/lib/tests/specs/directives/vTooltip-branch.spec.ts
  packages/lib/tests/specs/directives/vTooltip.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

feat(maz-ui): MazSidebar - close/open persistent (#1581)
  apps/docs/src/components/maz-sidebar.md
  apps/docs/src/directives/tooltip.md
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazExpandAnimation.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazLazyImg.vue
  packages/lib/src/components/MazLoadingBar.vue
  packages/lib/src/components/MazPullToRefresh.vue
  packages/lib/src/components/MazRadio.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazReadingProgressBar.vue
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/tests/specs/components/MazCheckbox.spec.ts
  packages/lib/tests/specs/components/MazReadingProgressBar.spec.ts
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.15
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat: move cookie utils from themes to utils
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/themes/src/composables/__tests__/useTheme.integration.test.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/cookie-storage.test.ts
  packages/themes/src/utils/cookie-storage.ts
  packages/themes/src/utils/get-color-mode.ts
  packages/utils/src/helpers/__tests__/cookie.spec.ts
  packages/utils/src/helpers/cookie.ts
  packages/utils/src/helpers/index.ts
  packages/utils/vitest.config.ts
Due: lib, utils, themes, maz-ui Library, Utils Package, Themes Package

chore(release): bump version to 5.0.0-beta.16
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

chore(release): bump version to 5.0.0-beta.17
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

build: upgrade dependencies (#1583)
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  apps/vue-app/vite.config.ts
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/lib/vitest.config.ts
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/src/index.ts
  packages/themes/package.json
  packages/translations/package.json
  packages/upgrade/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/package.json
  tools/vite-config/jsconfig.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

chore: improve tsconfig
  apps/docs/tsconfig.json
  package.json
  packages/eslint-config/tsconfig.json
  packages/icons/tsconfig.json
  packages/lib/tsconfig.json
  packages/maz-cli/tsconfig.json
  packages/mcp/tsconfig.json
  packages/node/tsconfig.json
  packages/stylelint-config/tsconfig.lib.json
  packages/themes/tsconfig.json
  packages/translations/tsconfig.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  tools/cli/tsconfig.json
  tsconfig.base.json
Due: lib, utils, mcp, icons, translations, node, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.18
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

chore(docs): deploy develop to next env
  .github/workflows/doc-deploy.yml
  apps/docs/.vitepress/config.mts
  apps/docs/.vitepress/configs/head.mts
  apps/docs/ftp-deploy.mjs
  nx.json
  package.json
Due: none

chore(release): bump version to 5.0.0-beta.21
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): MazSidebar - add 'hover' collapsible mode (#1586)
  apps/docs/src/components/maz-sidebar.md
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuButton.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuSub.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.20
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

chore(release): bump version to 5.0.0-beta.19
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  apps/docs/.vitepress/mixins/translated-component.md
  package.json
  packages/icons/README.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/README.md
  packages/lib/package.json
  packages/lib/vitest.config.ts
  packages/mcp/CHANGELOG.md
  packages/mcp/README.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/themes/package.json
  packages/upgrade/README.md
Due: lib, mcp, icons, nuxt, themes, maz-ui Library, MCP Package, Icons Package, Nuxt Package, Themes Package

fix(maz-ui): Inputs - auto-fill with SSR
  Makefile
  package.json
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/utils/autofillSync.ts
  packages/lib/tests/specs/components/MazInput.spec.ts
  packages/lib/tests/specs/components/MazTextarea.spec.ts
  packages/lib/tests/specs/utils/autofillSync.test.ts
  packages/lib/vitest.config.ts
  packages/mcp/package.json
  pnpm-lock.yaml
Due: lib, mcp, maz-ui Library, MCP Package

fix(@maz-ui/themes): auto color-scheme issue
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/src/utils/update-document-class.ts
Due: themes, Themes Package

chore: add new command to exec task
  .claude/commands/execute-task.md
  .gitignore
  CLAUDE.md
Due: none

fix(@maz-ui/nuxt): color mode reverts to dark on client navigation (#1587)
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

chore: upgrade yolo deps
  pnpm-workspace.yaml
Due: none

chore(release): bump version to 5.0.0-beta.23
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: update execute-task command
  .claude/commands/execute-task.md
Due: none

feat(@maz-ui/themes): MazDialog - configurable max/min-width via preset (#1594)
  apps/docs/src/components/maz-dialog.md
  apps/docs/src/ecosystem/themes.md
  packages/lib/src/components/MazDialog.vue
  packages/lib/tests/specs/components/MazDialog-extended.spec.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
Due: lib, themes, maz-ui Library, Themes Package

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
