Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

refactor(maz-ui): MazSwitch - cursor color to be more visible when not active
  apps/docs/package.json
  packages/lib/src/components/MazSwitch.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.22
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

feat(@maz-ui/themes): MazDialog - configurable max/min-width via preset (#1594)
  apps/docs/src/components/maz-dialog.md
  apps/docs/src/ecosystem/themes.md
  packages/lib/src/components/MazDialog.vue
  packages/lib/tests/specs/components/MazDialog-extended.spec.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
Due: lib, themes, maz-ui Library, Themes Package

chore: update execute-task command
  .claude/commands/execute-task.md
Due: none

chore(release): bump version to 5.0.0-beta.23
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(maz-ui): add shared MazRoundedSize type
  packages/lib/src/components/types.ts
Due: lib, maz-ui Library

feat(maz-ui): MazContainer & MazCard support global default props
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/tests/specs/components/MazCard.spec.ts
  packages/lib/tests/specs/components/MazContainer.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): support global default props on display components
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazBtnGroup.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/tests/specs/components/MazAlert.spec.ts
  packages/lib/tests/specs/components/MazAvatar.spec.ts
  packages/lib/tests/specs/components/MazBadge.spec.ts
  packages/lib/tests/specs/components/MazBtnGroup.spec.ts
  packages/lib/tests/specs/components/MazDropdown.spec.ts
  packages/lib/tests/specs/components/MazSkeleton.spec.ts
  packages/lib/tests/specs/components/MazTable.spec.ts
  packages/lib/tests/specs/components/MazTimeline.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): accept global component defaults in MazUi plugin
  packages/lib/src/plugins/maz-ui.ts
Due: lib, maz-ui Library

feat(maz-ui): support global default props on form components
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazRadio.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/tests/specs/components/MazCheckbox.spec.ts
  packages/lib/tests/specs/components/MazInput.spec.ts
  packages/lib/tests/specs/components/MazInputNumber.spec.ts
  packages/lib/tests/specs/components/MazInputPhoneNumber.spec.ts
  packages/lib/tests/specs/components/MazInputTags.spec.ts
  packages/lib/tests/specs/components/MazPagination.spec.ts
  packages/lib/tests/specs/components/MazRadio.spec.ts
  packages/lib/tests/specs/components/MazRadioButtons.spec.ts
  packages/lib/tests/specs/components/MazSelect.spec.ts
  packages/lib/tests/specs/components/MazSelectCountry.spec.ts
  packages/lib/tests/specs/components/MazTextarea.spec.ts
Due: lib, maz-ui Library

feat(@maz-ui/nuxt): support global component defaults
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/__tests__/defaults.spec.ts
  packages/nuxt/src/runtime/plugins/defaults.ts
  packages/nuxt/src/types/index.ts
Due: nuxt, Nuxt Package

feat(maz-ui): MazBtn support global default props (size, roundedSize)
  packages/lib/src/components/MazBtn.vue
  packages/lib/tests/specs/components/MazBtn.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): add useGlobalConfig composable for global component defaults
  packages/lib/src/composables/index.ts
  packages/lib/src/composables/useGlobalConfig.ts
  packages/lib/tests/specs/composables/useGlobalConfig.spec.ts
Due: lib, maz-ui Library

docs: document global component defaults
  .claude/commands/execute-task.md
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/ecosystem/nuxt.md
  apps/docs/src/guide/global-defaults.md
  packages/lib/README.md
  packages/nuxt/README.md
Due: lib, nuxt, maz-ui Library, Nuxt Package

perf(maz-ui): resolve global component defaults once at setup
  packages/lib/src/composables/useGlobalConfig.ts
  packages/lib/tests/specs/composables/useGlobalConfig.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(docs): wire docs app to MazUi plugin with global defaults
  apps/docs/.vitepress/theme/index.ts
Due: none

test(@maz-ui/nuxt): cover global defaults plugin registration
  packages/nuxt/src/__tests__/module.spec.ts
Due: none

test(@maz-ui/mcp): account for the global-defaults guide
  packages/lib/src/components/MazTable.vue
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.24
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore: update yolo deps
  package.json
  pnpm-lock.yaml
Due: none

chore(release): bump version to 5.0.0-beta.0
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/vue.ts
  packages/eslint-config/src/index.ts
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.3
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): Inputs - top label and assistive text
  apps/docs/src/components/maz-container.md
  apps/docs/src/components/maz-input-phone-number.md
  apps/docs/src/components/maz-textarea.md
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazTextarea.vue
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
Due: lib, themes, maz-ui Library, Themes Package

chore(release): bump version to 5.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/build/ViteCompileStyles.ts
  packages/lib/package.json
  packages/lib/src/tailwindcss/dist-entry.css
  packages/lib/src/tailwindcss/tailwind.css
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.4
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/eslint.config.ts
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/themes/src/build/index.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/vitest.config.ts
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.5
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/lib/package.json
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/vitest.config.ts
  packages/upgrade/package.json
  packages/upgrade/vitest.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
  yolo.config.ts
Due: lib, utils, maz-ui Library, Utils Package

chore: edit yolo.config
  yolo.config.ts
Due: none

ci: enable codecov upload for eslint-config and stylelint-config
  .github/workflows/test-unit.yml
  codecov.yml
  packages/eslint-config/vitest.config.ts
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
Due: lib, mcp, maz-ui Library, MCP Package

feat(@maz-ui/eslint-config): add maz/tailwind-no-arbitrary-px rule and maz plugin
  apps/docs/src/ecosystem/eslint-config.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/__tests__/index.test.ts
  packages/eslint-config/src/__tests__/plugin.test.ts
  packages/eslint-config/src/configs/__tests__/declarative.test.ts
  packages/eslint-config/src/configs/__tests__/logger.test.ts
  packages/eslint-config/src/configs/__tests__/tailwindcss.test.ts
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/plugin.ts
  packages/eslint-config/src/rules/index.ts
  packages/eslint-config/src/rules/tailwind/__tests__/no-arbitrary-px.test.ts
  packages/eslint-config/src/rules/tailwind/no-arbitrary-px.ts
  packages/eslint-config/src/types.ts
  packages/eslint-config/vitest.config.ts
Due: none

chore(release): bump version to 5.0.0-beta.6
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

fix: add default condition to exports for CJS resolver fallback
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/mcp/vitest.config.ts
  packages/node/package.json
  packages/nuxt/package.json
  packages/stylelint-config/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/upgrade/package.json
Due: mcp, icons, translations, node, nuxt, themes, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package

ci: update action plugin versions
  .github/actions/setup/action.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-latest.yml
  .github/workflows/test-unit.yml
Due: none

chore(release): bump version to 5.0.0-beta.7
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

chore(release): bump version to 5.0.0-beta.8
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Due: lib, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI
