Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore: remove oxlint
  apps/vue-app/eslint.config.ts
  apps/vue-app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, maz-ui Library

chore: add plan to migrate to tailwindcss v4
  eslint.config.ts
  plans/2026-02-24-tailwind-v4-migration.md
  plans/TODO.md
Due: none

build: update dependencies (#1470)
  .github/workflows/release-canary.yml
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/tests/vitest-global.setup.ts
  packages/maz-cli/package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  tools/cli/package.json
  tools/cli/src/commands/create-files/index.ts
Due: lib, nuxt, maz-cli, maz-ui Library, Nuxt Package, Maz CLI

build: upgrade relizy dependency
  package.json
  pnpm-lock.yaml
Due: none

chore(cli): remove unused eslint disable rule
  tools/cli/config/templates.js
Due: none

chore: upgrade relizy
  package.json
  pnpm-lock.yaml
Due: none

build: migrate to eslint v10 (#1474)
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.ts
  packages/eslint-config/src/index.ts
  packages/icons/utils/getComponentList.ts
  packages/lib/src/components/MazInputPhoneNumber/useLibphonenumber.ts
  packages/mcp/package.json
  packages/mcp/src/mcp.ts
  packages/utils/src/helpers/formatCurrency.ts
  packages/utils/src/helpers/formatDate.ts
  packages/utils/src/helpers/formatNumber.ts
  packages/utils/src/helpers/getBrowserLocale.ts
  packages/utils/src/helpers/idleTimeout.ts
  packages/utils/src/helpers/scriptLoader.ts
  pnpm-lock.yaml
Due: lib, utils, mcp, icons, maz-ui Library, Utils Package, MCP Package, Icons Package

chore(release): bump version to 4.7.2-beta.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-cli, maz-ui Library, Nuxt Package, Maz CLI

build: upgrade dependencies (#1476)
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/tests/specs/components/MazSelectCountry.spec.ts
  packages/lib/tests/specs/components/__snapshots__/MazDialog.spec.ts.snap
  packages/lib/vitest.config.ts
  packages/mcp/package.json
  packages/mcp/vitest.config.ts
  packages/themes/vitest.config.ts
  packages/translations/vitest.config.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: lib, utils, mcp, translations, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Themes Package

chore(release): bump version to 4.7.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

ci: accept Nx cache from other CI runners
  .github/actions/setup/action.yml
Due: none

ci: disable Nx database cache machine ID check
  .github/actions/setup/action.yml
  .github/workflows/check-peer-deps.yml
  .github/workflows/linters.yml
  packages/themes/src/plugin.ts
Due: themes, Themes Package

chore: resolve nx circular dependencies
  .github/workflows/build-and-typecheck.yml
  .github/workflows/doc-deploy.yml
  .github/workflows/test-unit.yml
  package.json
  packages/lib/build/ViteBuildIcons.ts
  packages/lib/build/ViteBuildMazCli.ts
  packages/lib/build/ViteBuildNuxtModule.ts
  packages/lib/build/ViteBuildThemes.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/use-mutation-observer.spec.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/src/utils/use-mutation-observer.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

chore: replace lerna with nx as task runner
  .gitignore
  lerna.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

ci: disable Nx database cache machine ID check
  .github/actions/setup/action.yml
Due: none

feat: US-003 - Implement defineFormSchema helper
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-002 - Define TypeScript types for form schema
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
Due: none

feat: US-004 - Create component map with lazy loading
  packages/forms/src/index.ts
  packages/forms/src/utils/component-map.ts
Due: none

feat: US-001 - Create package structure and base configuration
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/index.ts
  packages/forms/tsconfig.json
  packages/forms/vite.config.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-007 - Implement basic FormBuilder component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-006 - Implement FormSection component
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-005 - Implement FormField component
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-013 - Implement error summary component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-010 - [BLOCKER] FIX ERROR: Delete useFormBuilderValidation.ts and use existing maz-ui composables instead
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/tsconfig.json
Due: none

feat: US-008 - Add Valibot validation support
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/translations/src/locales/en.ts
Due: translations, Translations Package

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-014 - Implement accessibility features
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-009 - Implement form state management
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

chore: add @maz-ui/forms to commitlint
  .commitlintrc.ts
Due: none

feat: US-020 - Add Nuxt module integration
  packages/nuxt/src/module.ts
  packages/nuxt/src/types/index.ts
Due: nuxt, Nuxt Package

feat: US-016 - Implement customization slots
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-018 - Implement multi-step wizard mode
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-021 - Write unit tests with >90% coverage
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/components/FormErrorSummary.spec.ts
  packages/forms/tests/specs/components/FormField.spec.ts
  packages/forms/tests/specs/components/FormSection.spec.ts
  packages/forms/tests/specs/components/FormWizard.spec.ts
  packages/forms/tests/specs/utils/component-map.spec.ts
  packages/forms/tests/specs/utils/schema-helpers.spec.ts
  packages/forms/vitest.config.ts
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
