Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

build: upgrade dependencies (#1583)
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  apps/vue-app/vite.config.ts
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/lib/vitest.config.ts
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/src/index.ts
  packages/themes/package.json
  packages/translations/package.json
  packages/upgrade/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/package.json
  tools/vite-config/jsconfig.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

chore: improve tsconfig
  apps/docs/tsconfig.json
  package.json
  packages/eslint-config/tsconfig.json
  packages/icons/tsconfig.json
  packages/lib/tsconfig.json
  packages/maz-cli/tsconfig.json
  packages/mcp/tsconfig.json
  packages/node/tsconfig.json
  packages/stylelint-config/tsconfig.lib.json
  packages/themes/tsconfig.json
  packages/translations/tsconfig.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  tools/cli/tsconfig.json
  tsconfig.base.json
Due: lib, utils, mcp, icons, translations, node, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.18
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

chore(docs): deploy develop to next env
  .github/workflows/doc-deploy.yml
  apps/docs/.vitepress/config.mts
  apps/docs/.vitepress/configs/head.mts
  apps/docs/ftp-deploy.mjs
  nx.json
  package.json
Due: none

fix(maz-ui): Inputs - auto-fill with SSR
  Makefile
  package.json
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/utils/autofillSync.ts
  packages/lib/tests/specs/components/MazInput.spec.ts
  packages/lib/tests/specs/components/MazTextarea.spec.ts
  packages/lib/tests/specs/utils/autofillSync.test.ts
  packages/lib/vitest.config.ts
  packages/mcp/package.json
  pnpm-lock.yaml
Due: lib, mcp, maz-ui Library, MCP Package

chore(release): bump version to 5.0.0-beta.19
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

chore(release): bump version to 5.0.0-beta.19
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  apps/docs/.vitepress/mixins/translated-component.md
  package.json
  packages/icons/README.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/README.md
  packages/lib/package.json
  packages/lib/vitest.config.ts
  packages/mcp/CHANGELOG.md
  packages/mcp/README.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/themes/package.json
  packages/upgrade/README.md
Due: lib, mcp, icons, nuxt, themes, maz-ui Library, MCP Package, Icons Package, Nuxt Package, Themes Package

fix(@maz-ui/themes): auto color-scheme issue
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/src/utils/update-document-class.ts
Due: themes, Themes Package

chore(release): bump version to 5.0.0-beta.20
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

feat(maz-ui): MazSidebar - add 'hover' collapsible mode
  apps/docs/src/components/maz-sidebar.md
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/tests/specs/components/MazSidebar.spec.ts
Due: lib, maz-ui Library

test(maz-ui): MazSidebar - add hover-mode coverage tests
  packages/lib/src/components/MazSidebar.vue
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuButton.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuSub.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

feat(maz-ui): MazSidebar - add 'hover' collapsible mode (#1586)
  apps/docs/src/components/maz-sidebar.md
  packages/lib/src/components/MazSidebar.vue
  packages/lib/src/components/MazSidebarMenuButton.vue
  packages/lib/src/components/MazSidebarMenuSub.vue
  packages/lib/tests/specs/components/MazSidebar.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuButton.spec.ts
  packages/lib/tests/specs/components/MazSidebarMenuSub.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.21
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: add new command to exec task
  .claude/commands/execute-task.md
  .gitignore
  CLAUDE.md
Due: none

fix(@maz-ui/nuxt): color mode reverts to dark on client navigation
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

fix(@maz-ui/nuxt): color mode reverts to dark on client navigation (#1587)
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

chore: upgrade yolo deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(@maz-ui/themes): MazDialog - configurable max/min-width via preset
  apps/docs/src/components/maz-dialog.md
  apps/docs/src/ecosystem/themes.md
  packages/lib/src/components/MazDialog.vue
  packages/lib/tests/specs/components/MazDialog-extended.spec.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
Due: lib, themes, maz-ui Library, Themes Package

feat(@maz-ui/themes): MazDialog - configurable max/min-width via preset (#1594)
  apps/docs/src/components/maz-dialog.md
  apps/docs/src/ecosystem/themes.md
  packages/lib/src/components/MazDialog.vue
  packages/lib/tests/specs/components/MazDialog-extended.spec.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/__snapshots__/css-generator.test.ts.snap
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
Due: lib, themes, maz-ui Library, Themes Package

chore(release): bump version to 5.0.0-beta.22
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

refactor(maz-ui): MazSwitch - cursor color to be more visible when not active
  apps/docs/package.json
  packages/lib/src/components/MazSwitch.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.23
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

ci: edit yolo workflow
  .github/workflows/yolo.yml
  tasks/prd-refonte-du-mcp-maz-ui-recherche-full-text-performante.md
  tasks/prd.json
Due: none

chore(release): bump version to 5.0.0-beta.0
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.4
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/eslint.config.ts
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/themes/src/build/index.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/vitest.config.ts
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): Inputs - top label and assistive text
  apps/docs/src/components/maz-container.md
  apps/docs/src/components/maz-input-phone-number.md
  apps/docs/src/components/maz-textarea.md
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazTextarea.vue
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/vitest.config.ts
Due: lib, themes, maz-ui Library, Themes Package

chore(release): bump version to 5.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/build/ViteCompileStyles.ts
  packages/lib/package.json
  packages/lib/src/tailwindcss/dist-entry.css
  packages/lib/src/tailwindcss/tailwind.css
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.3
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.5
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(release): bump version to 5.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/vue.ts
  packages/eslint-config/src/index.ts
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(@maz-ui/eslint-config): add maz/tailwind-no-arbitrary-px rule and maz plugin
  apps/docs/src/ecosystem/eslint-config.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/__tests__/index.test.ts
  packages/eslint-config/src/__tests__/plugin.test.ts
  packages/eslint-config/src/configs/__tests__/declarative.test.ts
  packages/eslint-config/src/configs/__tests__/logger.test.ts
  packages/eslint-config/src/configs/__tests__/tailwindcss.test.ts
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/plugin.ts
  packages/eslint-config/src/rules/index.ts
  packages/eslint-config/src/rules/tailwind/__tests__/no-arbitrary-px.test.ts
  packages/eslint-config/src/rules/tailwind/no-arbitrary-px.ts
  packages/eslint-config/src/types.ts
  packages/eslint-config/vitest.config.ts
Due: none

chore(release): bump version to 5.0.0-beta.7
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/lib/package.json
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/vitest.config.ts
  packages/upgrade/package.json
  packages/upgrade/vitest.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
  yolo.config.ts
Due: lib, utils, maz-ui Library, Utils Package

ci: enable codecov upload for eslint-config and stylelint-config
  .github/workflows/test-unit.yml
  codecov.yml
  packages/eslint-config/vitest.config.ts
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
Due: lib, mcp, maz-ui Library, MCP Package

chore(release): bump version to 5.0.0-beta.6
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

chore: edit yolo.config
  pnpm-lock.yaml
  yolo.config.ts
Due: none

ci: update action plugin versions
  .github/actions/setup/action.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-latest.yml
  .github/workflows/test-unit.yml
Due: none
