Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

chore(@maz-ui/nuxt): add MazSkeleton to auto-imported components
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

feat(maz-ui): MazSkeleton - new component for loading placeholders
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/tests/specs/components/MazSkeleton.spec.ts
Due: lib, maz-ui Library

feat(@maz-ui/nuxt): auto-import MazReadMore and MazSkeleton
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

feat(maz-ui): MazReadMore - new component to truncate long text
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazReadMore.spec.ts
Due: lib, maz-ui Library

docs: add documentation for MazReadMore and MazSkeleton
  apps/docs/.vitepress/configs/components.mts
  apps/docs/src/components/maz-read-more.md
  apps/docs/src/components/maz-skeleton.md
Due: none

feat(@maz-ui/translations): add translations for MazReadMore and MazSkeleton
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
Due: translations, Translations Package

feat(@maz-ui/icons): add new iconsAdded icons: MazFacebook, MazInstagram, MazLinkedin MazNpm, MazTwitter and MazQuote
  packages/icons/logos/facebook.svg
  packages/icons/logos/instagram.svg
  packages/icons/logos/linkedin.svg
  packages/icons/logos/npm.svg
  packages/icons/logos/twitter.svg
  packages/icons/src/components/MazLogoFacebook.ts
  packages/icons/src/components/MazLogoInstagram.ts
  packages/icons/src/components/MazLogoLinkedin.ts
  packages/icons/src/components/MazLogoNpm.ts
  packages/icons/src/components/MazLogoTwitter.ts
  packages/icons/src/components/MazQuote.ts
  packages/icons/src/icon-list.ts
  packages/icons/src/index.ts
  packages/icons/svg/quote.svg
Due: icons, Icons Package

chore(release): bump version to 4.5.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
Due: lib, icons, translations, nuxt, maz-ui Library, Icons Package, Translations Package, Nuxt Package

feat: US-002 - Define TypeScript types for form schema
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
Due: none

feat: US-001 - Create package structure and base configuration
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/index.ts
  packages/forms/tsconfig.json
  packages/forms/vite.config.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-003 - Implement defineFormSchema helper
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-004 - Create component map with lazy loading
  packages/forms/src/index.ts
  packages/forms/src/utils/component-map.ts
Due: none

feat: US-018 - Implement multi-step wizard mode
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-014 - Implement accessibility features
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-006 - Implement FormSection component
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-010 - [BLOCKER] FIX ERROR: Delete useFormBuilderValidation.ts and use existing maz-ui composables instead
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/tsconfig.json
Due: none

feat: US-007 - Implement basic FormBuilder component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-016 - Implement customization slots
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-008 - Add Valibot validation support
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/translations/src/locales/en.ts
Due: translations, Translations Package

feat: US-005 - Implement FormField component
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-013 - Implement error summary component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-017 - Support multiple form instances
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-009 - Implement form state management
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/vitest.config.ts
Due: none

chore(@maz-ui/translations): remove useless translations
  packages/translations/src/locales/en.ts
Due: translations, Translations Package

feat: US-020 - Add Nuxt module integration
  packages/nuxt/src/module.ts
  packages/nuxt/src/types/index.ts
Due: nuxt, Nuxt Package

chore: add @maz-ui/forms to github templates
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: US-021 - Write unit tests with >90% coverage
  .github/workflows/test-unit.yml
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/components/FormErrorSummary.spec.ts
  packages/forms/tests/specs/components/FormField.spec.ts
  packages/forms/tests/specs/components/FormSection.spec.ts
  packages/forms/tests/specs/components/FormWizard.spec.ts
  packages/forms/tests/specs/utils/component-map.spec.ts
  packages/forms/tests/specs/utils/schema-helpers.spec.ts
  packages/forms/vitest.config.ts
Due: none

chore: add @maz-ui/forms to commitlint
  .commitlintrc.ts
Due: none

chore: resolve bugs
  apps/docs/.vitepress/theme/components/Contributors.vue
  apps/docs/package.json
  apps/docs/src/blog/v4.md
  apps/docs/src/components/maz-dropzone.md
  apps/docs/src/composables/use-aos.md
  apps/docs/src/composables/use-form-validator.md
  apps/docs/src/composables/use-wait.md
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/resolvers.md
  pnpm-lock.yaml
Due: none

chore(@maz-ui/nuxt): use utils from @maz-ui/utils
  apps/nuxt-app/package.json
  apps/nuxt-app/src/layouts/default.vue
  apps/nuxt-app/src/pages/index.vue
Due: none

chore: re-organize deps
  apps/vue-app/package.json
  package.json
  packages/forms/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/nuxt/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/utils/package.json
Due: lib, utils, icons, translations, nuxt, themes, maz-ui Library, Utils Package, Icons Package, Translations Package, Nuxt Package, Themes Package

chore(@maz-ui/forms): configs
  packages/forms/.vscode/settings.json
  packages/forms/eslint.config.ts
  packages/forms/vite.config.ts
Due: none

chore: some changes
  packages/forms/package.json
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
  packages/lib/vite.config.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tsconfig.json
  relizy.independant.config.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(maz-ui): MazChecklist - increase padding-block of no results container
  packages/lib/src/components/MazChecklist.vue
Due: lib, maz-ui Library

feat(@maz-ui/vite-config): new tool to manage vite config
  tools/vite-config/.vscode/settings.json
  tools/vite-config/eslint.config.ts
  tools/vite-config/jsconfig.json
  tools/vite-config/package.json
  tools/vite-config/src/getExternalDependencies.js
  tools/vite-config/src/index.d.ts
  tools/vite-config/src/index.js
Due: none
