Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

feat: US-021 - Write unit tests with >90% coverage
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/components/FormErrorSummary.spec.ts
  packages/forms/tests/specs/components/FormField.spec.ts
  packages/forms/tests/specs/components/FormSection.spec.ts
  packages/forms/tests/specs/components/FormWizard.spec.ts
  packages/forms/tests/specs/utils/component-map.spec.ts
  packages/forms/tests/specs/utils/schema-helpers.spec.ts
  packages/forms/vitest.config.ts
Due: none

chore: resolve bugs
  pnpm-lock.yaml
Due: none

chore: re-organize deps
  packages/forms/package.json
Due: none

chore(@maz-ui/forms): wip
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/components/__tests__/FormBuilder.spec.ts
  packages/forms/src/components/__tests__/FormErrorSummary.spec.ts
  packages/forms/src/components/__tests__/FormField.spec.ts
  packages/forms/src/components/__tests__/FormSection.spec.ts
  packages/forms/src/components/__tests__/FormWizard.spec.ts
  packages/forms/src/components/index.ts
  packages/forms/src/composables/__tests__/useFormBuilder.spec.ts
  packages/forms/src/composables/index.ts
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/__tests__/component-map.spec.ts
  packages/forms/src/utils/__tests__/schema-helpers.spec.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/stylelint.config.mjs
  packages/forms/vite.config.ts
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(@maz-ui/forms): configs
  packages/forms/.vscode/settings.json
  packages/forms/eslint.config.ts
  packages/forms/vite.config.ts
Due: none

chore: some changes
  packages/forms/package.json
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tsconfig.json
  relizy.independant.config.ts
Due: nuxt, Nuxt Package

feat(@maz-ui/nuxt): add support of @maz-ui/forms with auto imports
  package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  pnpm-lock.yaml
  relizy.config.ts
  relizy.independent.config.ts
Due: nuxt, Nuxt Package

chore(vue-app): clean imported code to test bundle size
  apps/vue-app/src/components/AppHeader.vue
  apps/vue-app/src/main.ts
  apps/vue-app/vite.config.ts
Due: none

fix(maz-ui): use component-level provide instead of app.provide in MazUiProvider
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/tests/specs/components/MazUiProvider.spec.ts
Due: lib, maz-ui Library

build: upgrade dependencies
  apps/docs/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, maz-ui Library, Utils Package

chore(release): bump version to 4.7.0-beta.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

feat(maz-ui): enforce locale presence in MazUiProvider translations prop
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazUiProvider.spec.ts
Due: lib, maz-ui Library

docs(docs): document required props and FOUC prevention for MazUiProvider
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/vue.md
Due: none

style(docs): remove empty line in themes guide code block
  apps/docs/src/guide/themes.md
Due: none

chore(vue-app): add explicit theme options to MazUiProvider
  apps/vue-app/src/App.vue
Due: none

chore(release): bump version to 4.7.0-beta.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: update relizy config - no publish prerelease versions on twitter
  relizy.config.ts
Due: none

fix(maz-ui): remove vue-router imports to be used without the vue-router dependency - fix #1396
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazBtnGroup.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazLink.vue
  packages/lib/src/utils/resolveLinkComponent.ts
  packages/lib/tests/specs/components/MazLink.spec.ts
  packages/lib/tests/specs/utils/resolveLinkComponent.test.ts
Due: lib, maz-ui Library

refactor(@maz-ui/translations): restructure to modular architecture with vite build
  packages/translations/build.config.ts
  packages/translations/package.json
  packages/translations/src/composables/useTranslations.ts
  packages/translations/src/core.ts
  packages/translations/src/index.ts
  packages/translations/src/plugin.ts
  packages/translations/src/states.ts
  packages/translations/src/types.ts
  packages/translations/src/utils/index.ts
  packages/translations/src/utils/inject.ts
  packages/translations/src/utils/instance.ts
  packages/translations/src/utils/locales.ts
  packages/translations/src/utils/messages.ts
  packages/translations/vite.config.ts
  packages/translations/vitest.config.ts
Due: translations, Translations Package

build(@maz-ui/utils): fix types output path in build config
  packages/utils/package.json
  packages/utils/vite.config.ts
Due: utils, Utils Package

chore: update import paths and configs for refactored packages
  apps/docs/src/guide/vue.md
  apps/nuxt-app/tsconfig.json
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/LangSwitcher.vue
Due: none

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: lib, mcp, icons, nuxt, maz-cli, maz-ui Library, MCP Package, Icons Package, Nuxt Package, Maz CLI

docs(@maz-ui/icons): set icon set count in README
  packages/icons/README.md
Due: icons, Icons Package

chore(@maz-ui/nuxt): ignore translation package in tsconfig
  packages/nuxt/tsconfig.json
Due: nuxt, Nuxt Package

test(@maz-ui/themes): add unit tests for theme utilities and plugin
  packages/themes/src/__tests__/define-preset.test.ts
  packages/themes/src/__tests__/plugin.test.ts
  packages/themes/src/utils/__tests__/color-utils.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/__tests__/inject.test.ts
  packages/themes/src/utils/__tests__/no-transition.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package
