Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

build(@maz-ui/utils): fix types output path in build config
  packages/utils/package.json
  packages/utils/vite.config.ts
Due: utils, Utils Package

refactor(@maz-ui/themes): extract theme setup into modular utilities
  packages/themes/package.json
  packages/themes/src/index.ts
  packages/themes/src/plugin.ts
  packages/themes/src/utils/index.ts
  packages/themes/src/utils/inject-theme-css.ts
  packages/themes/src/utils/inject.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/vite.config.ts
Due: themes, Themes Package

refactor(@maz-ui/translations): restructure to modular architecture with vite build
  packages/translations/build.config.ts
  packages/translations/package.json
  packages/translations/src/composables/useTranslations.ts
  packages/translations/src/core.ts
  packages/translations/src/index.ts
  packages/translations/src/plugin.ts
  packages/translations/src/states.ts
  packages/translations/src/types.ts
  packages/translations/src/utils/index.ts
  packages/translations/src/utils/inject.ts
  packages/translations/src/utils/instance.ts
  packages/translations/src/utils/locales.ts
  packages/translations/src/utils/messages.ts
  packages/translations/vite.config.ts
  packages/translations/vitest.config.ts
Due: translations, Translations Package

chore: update import paths and configs for refactored packages
  apps/docs/src/guide/vue.md
  apps/nuxt-app/tsconfig.json
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/LangSwitcher.vue
Due: none

ci: add translations coverage upload to codecov
  .github/workflows/test-unit.yml
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

test(@maz-ui/themes): add unit tests for theme utilities and plugin
  packages/themes/src/__tests__/define-preset.test.ts
  packages/themes/src/__tests__/plugin.test.ts
  packages/themes/src/utils/__tests__/color-utils.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/__tests__/inject.test.ts
  packages/themes/src/utils/__tests__/no-transition.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

test(@maz-ui/translations): add unit tests for translations utilities and plugin
  packages/translations/src/__tests__/plugin.test.ts
  packages/translations/src/composables/__tests__/useTranslations.test.ts
  packages/translations/src/utils/__tests__/inject.test.ts
  packages/translations/src/utils/__tests__/instance.test.ts
  packages/translations/src/utils/__tests__/locales.test.ts
  packages/translations/src/utils/__tests__/messages.test.ts
  packages/translations/tsconfig.json
  packages/translations/vitest.config.ts
Due: translations, Translations Package

chore(@maz-ui/nuxt): ignore translation package in tsconfig
  packages/nuxt/tsconfig.json
Due: nuxt, Nuxt Package

feat(maz-ui): MazUiProvider - alternative to MazUi plugin
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/themes.md
  apps/docs/src/guide/translations.md
  apps/docs/src/guide/vue.md
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/ThemeSwitcher.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/views/HomeView.vue
  apps/vue-app/vite.config.ts
  packages/lib/package.json
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazUiProvider.spec.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vite.config.ts
  packages/mcp/src/__tests__/DocumentationService.test.ts
  packages/nuxt/src/module.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/plugin.ts
  packages/themes/vitest.config.ts
  packages/translations/src/index.ts
  packages/translations/src/useTranslations.ts
Due: lib, translations, nuxt, themes, maz-ui Library, Translations Package, Nuxt Package, Themes Package

chore(release): bump version to 4.7.0-beta.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

feat: US-001 - Create package structure and base configuration
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/index.ts
  packages/forms/tsconfig.json
  packages/forms/vite.config.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-002 - Define TypeScript types for form schema
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
Due: none

feat: US-004 - Create component map with lazy loading
  packages/forms/src/index.ts
  packages/forms/src/utils/component-map.ts
Due: none

feat: US-005 - Implement FormField component
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-003 - Implement defineFormSchema helper
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-008 - Add Valibot validation support
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/translations/src/locales/en.ts
Due: translations, Translations Package

feat: US-007 - Implement basic FormBuilder component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-009 - Implement form state management
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/constants.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/vitest.config.ts
Due: none

feat: US-006 - Implement FormSection component
  packages/forms/src/components/FormSection.vue
  packages/forms/src/index.ts
Due: none

feat: US-010 - [BLOCKER] FIX ERROR: Delete useFormBuilderValidation.ts and use existing maz-ui composables instead
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/composables/useFormBuilderValidation.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
  packages/forms/tsconfig.json
Due: none

feat: US-011 - Implement form events
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-016 - Implement customization slots
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormSection.vue
Due: none

feat: US-018 - Implement multi-step wizard mode
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/index.ts
  packages/forms/src/utils/schema-helpers.ts
Due: none

feat: US-013 - Implement error summary component
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/index.ts
Due: none

feat: US-017 - Support multiple form instances
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

feat: US-014 - Implement accessibility features
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
Due: none

chore: add @maz-ui/forms to commitlint
  .commitlintrc.ts
Due: none

feat: US-020 - Add Nuxt module integration
  packages/nuxt/src/module.ts
  packages/nuxt/src/types/index.ts
Due: nuxt, Nuxt Package

chore(@maz-ui/translations): remove useless translations
  packages/translations/src/locales/en.ts
Due: translations, Translations Package
