Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

chore: update relizy config to trigger bump on build commit
  relizy.config.ts
Due: none

refactor(maz-ui): clean and reorder package exports
  packages/lib/package.json
Due: lib, maz-ui Library

refactor(@maz-ui/icons): reorder package exports
  packages/icons/package.json
Due: icons, Icons Package

chore: update relizy config - add project name for social posts
  relizy.config.ts
Due: none

chore(release): bump version to 4.6.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore: clean changelog of v4.6.1
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/lib/CHANGELOG.md
  packages/maz-cli/CHANGELOG.md
  packages/mcp/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/nuxt/CHANGELOG.md
  packages/themes/CHANGELOG.md
  packages/translations/CHANGELOG.md
  packages/utils/CHANGELOG.md
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(maz-ui): bundle dayjs plugins to fix CJS interop issues in SSR
  packages/lib/vite.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.6.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat: US-003 - Update main index.ts exports
  packages/icons/src/index.ts
  packages/icons/utils/ViteGenerateIconsComponentsEntry.ts
Due: icons, Icons Package

feat(docs): US-008 - Add lazy/static copy buttons to icon-set page and optimize performance
  apps/docs/src/guide/icon-set.md
Due: none

feat: US-004 - Update icon-list to include lazy icon names
  packages/icons/src/icon-list.ts
  packages/icons/src/resolvers.ts
  packages/icons/utils/ViteGenerateIconsComponentsEntry.ts
  packages/icons/vite.config.ts
Due: icons, Icons Package

feat(@maz-ui/icons): US-007 - Add README and update icons.md docs for static/lazy system
  apps/docs/src/guide/icons.md
  packages/icons/README.md
Due: icons, Icons Package

feat(@maz-ui/icons): US-005 - Update resolver to resolve static icons to individual paths
  packages/icons/src/resolvers.ts
Due: icons, Icons Package

feat(@maz-ui/icons): US-006 - Add static and lazy sub-path exports to package.json
  packages/icons/package.json
Due: icons, Icons Package

refactor(maz-ui): optimize icon imports with static and lazy sub-paths
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerMonthSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerYearSwitcher.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazLink.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
  pnpm-lock.yaml
Due: lib, maz-ui Library

refactor(@maz-ui/icons): set icon set count
  packages/icons/README.md
Due: icons, Icons Package

refactor(docs): increase icon set count
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/blog/v4.md
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/icon-set.md
  apps/docs/src/guide/icons.md
  apps/docs/src/guide/migration-v4.md
  apps/docs/src/index.md
Due: none

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: lib, mcp, icons, nuxt, maz-cli, maz-ui Library, MCP Package, Icons Package, Nuxt Package, Maz CLI

docs(@maz-ui/icons): set icon set count in README
  packages/icons/README.md
Due: icons, Icons Package

feat(maz-ui): MazUiProvider - alternative to MazUi plugin
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/themes.md
  apps/docs/src/guide/translations.md
  apps/docs/src/guide/vue.md
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/ThemeSwitcher.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/views/HomeView.vue
  apps/vue-app/vite.config.ts
  packages/lib/package.json
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazUiProvider.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazUiProvider.spec.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vite.config.ts
  packages/mcp/src/__tests__/DocumentationService.test.ts
  packages/nuxt/src/module.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/plugin.ts
  packages/themes/vitest.config.ts
  packages/translations/src/index.ts
  packages/translations/src/useTranslations.ts
Due: lib, translations, nuxt, themes, maz-ui Library, Translations Package, Nuxt Package, Themes Package
