Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

chore(@maz-ui/translations): remove useless translations
  packages/translations/src/locales/en.ts
Due: translations, Translations Package

feat: US-017 - Support multiple form instances
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/tests/specs/components/FormBuilder.spec.ts
  packages/forms/tests/specs/composables/useFormBuilder.spec.ts
Due: none

chore(@maz-ui/forms): wip
  packages/forms/eslint.config.ts
  packages/forms/package.json
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormErrorSummary.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/forms/src/components/FormWizard.vue
  packages/forms/src/components/__tests__/FormBuilder.spec.ts
  packages/forms/src/components/__tests__/FormErrorSummary.spec.ts
  packages/forms/src/components/__tests__/FormField.spec.ts
  packages/forms/src/components/__tests__/FormSection.spec.ts
  packages/forms/src/components/__tests__/FormWizard.spec.ts
  packages/forms/src/components/index.ts
  packages/forms/src/composables/__tests__/useFormBuilder.spec.ts
  packages/forms/src/composables/index.ts
  packages/forms/src/composables/useFormBuilder.ts
  packages/forms/src/index.ts
  packages/forms/src/utils/__tests__/component-map.spec.ts
  packages/forms/src/utils/__tests__/schema-helpers.spec.ts
  packages/forms/src/utils/constants.ts
  packages/forms/src/utils/index.ts
  packages/forms/src/utils/schema-helpers.ts
  packages/forms/stylelint.config.mjs
  packages/forms/vite.config.ts
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: some changes
  packages/forms/package.json
  packages/lib/src/types/form-schema.ts
  packages/lib/src/types/index.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tsconfig.json
  relizy.independant.config.ts
Due: nuxt, Nuxt Package

chore: resolve bugs
  pnpm-lock.yaml
Due: none

chore(@maz-ui/forms): configs
  packages/forms/.vscode/settings.json
  packages/forms/eslint.config.ts
  packages/forms/vite.config.ts
Due: none

chore: re-organize deps
  packages/forms/package.json
Due: none

feat(@maz-ui/nuxt): add support of @maz-ui/forms with auto imports
  package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  pnpm-lock.yaml
  relizy.config.ts
  relizy.independent.config.ts
Due: nuxt, Nuxt Package

chore(vue-app): clean imported code to test bundle size
  apps/nuxt-app/package.json
  apps/nuxt-app/src/components/GeneratedForm.vue
  apps/nuxt-app/src/pages/index.vue
  apps/vue-app/src/App.vue
  apps/vue-app/src/components/AppHeader.vue
  apps/vue-app/src/main.ts
  apps/vue-app/vite.config.ts
  packages/forms/TODO.md
  packages/forms/src/components/FormBuilder.vue
  packages/forms/src/components/FormField.vue
  packages/forms/src/components/FormSection.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/themes/src/plugin.ts
  pnpm-lock.yaml
Due: lib, themes, maz-ui Library, Themes Package

chore(@maz-ui/translations): remove useless type
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/src/components/GeneratedForm.vue
  packages/forms/src/components/FormBuilder.vue
  packages/translations/src/plugin.ts
  pnpm-lock.yaml
Due: translations, Translations Package

chore: upgrade pnpm version
  package.json
Due: none

ci: run upload coverage for dependabot branches
  .github/workflows/test-unit.yml
Due: none

fix(maz-ui): prevent duplicate dialogs opening with same identifier (#1485)
  packages/lib/src/components/MazDialogConfirm/useMazDialogConfirm.ts
  packages/lib/src/plugins/dialog/DialogHandler.ts
  packages/lib/tests/specs/plugins/dialog/DialogHandler.spec.ts
Due: lib, maz-ui Library

build: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: lib, utils, mcp, nuxt, maz-cli, maz-ui Library, Utils Package, MCP Package, Nuxt Package, Maz CLI

fix(docs): correct search config
  apps/docs/.vitepress/config.mts
Due: none

fix(maz-ui): destroy dialog component after close to prevent duplicates (#1485)
  packages/lib/src/plugins/dialog/DialogHandler.ts
Due: lib, maz-ui Library

fix(maz-ui): fix race conditions in dialog cleanup with setTimeout (#1485)
  apps/docs/src/plugins/dialog.md
  packages/lib/src/plugins/dialog/DialogHandler.ts
Due: lib, maz-ui Library

fix(maz-ui): prevent duplicate dialogs opening with same identifier - fix #1485 (#1486)
  apps/docs/src/plugins/dialog.md
  packages/lib/src/components/MazDialogConfirm/useMazDialogConfirm.ts
  packages/lib/src/plugins/dialog/DialogHandler.ts
  packages/lib/tests/specs/plugins/dialog/DialogHandler.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.7.3
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

perf(maz-ui): improving performances of JS code
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/useMazInputPhoneNumber.ts
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/composables/useDropzone.ts
  packages/lib/src/composables/useFormValidator/dom-events.ts
  packages/lib/src/composables/useInstanceUniqId.ts
  packages/lib/src/composables/useReadingTime.ts
  packages/lib/src/plugins/aos.ts
  packages/lib/src/resolvers/MazComponentsResolver.ts
  packages/lib/src/resolvers/MazDirectivesResolver.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tailwind.config.ts
  packages/lib/tests/specs/components/MazSlider-branch.spec.ts
  packages/lib/tests/specs/components/MazTable.spec.ts
  packages/lib/tests/specs/composables/useFormValidator/utils.spec.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

chore(@maz-ui/eslint-config): upgrade eslint sonar plugin
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

perf(@maz-ui/utils): improving performances of JS code
  packages/utils/src/helpers/countryCodeToUnicodeFlag.ts
Due: utils, Utils Package

chore: upgrade pnpm-lock
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/resolvers/MazComponentsResolver.ts
  pnpm-lock.yaml
  tools/cli/src/utils/pascal-case-to-kebab-case.ts
Due: lib, maz-ui Library

chore: update codecov config
  codecov.yml
Due: none

test(@maz-ui/node): add unit tests
  .github/workflows/test-unit.yml
  packages/node/package.json
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/__tests__/logger.spec.ts
  packages/node/src/__tests__/printBanner.spec.ts
  packages/node/tsconfig.json
  packages/node/vitest.config.ts
Due: node, Node Package

test(@maz-ui/node): use Gherkin style (given/when/then) in tests
  codecov.yml
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/__tests__/logger.spec.ts
  packages/node/src/__tests__/printBanner.spec.ts
Due: none
