Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

refactor(maz-ui): MazSwitch - cursor color to be more visible when not active
  apps/docs/package.json
  packages/lib/src/components/MazSwitch.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.22
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

chore(release): bump version to 5.0.0-beta.24
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(@maz-ui/translations): add markdownEditor locale keys
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
Due: translations, Translations Package

fix(maz-ui): MazTimeline emit kebab-case update:model-value event
  packages/lib/src/components/MazTimeline.vue
  packages/lib/tests/specs/components/MazTimeline.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): MazMarkdownEditor component with write/preview tabs
  packages/lib/package.json
  packages/lib/src/components/MazMarkdownEditor.vue
  packages/lib/src/components/index.ts
  packages/lib/src/composables/useGlobalConfig.ts
  packages/lib/tests/specs/components/MazMarkdownEditor.spec.ts
  packages/lib/vitest.config.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

feat(@maz-ui/nuxt): register MazMarkdownEditor for auto-import
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

docs: add MazMarkdownEditor page and sidebar entry
  apps/docs/.vitepress/configs/components.mts
  apps/docs/src/components/maz-markdown-editor.md
Due: none

chore(docs): ColorPicker - emit event name case
  apps/docs/components/ColorPicker.vue
Due: none

feat(@maz-ui/translations): expand markdownEditor toolbar and headings keys
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
Due: translations, Translations Package

fix(maz-ui): MazDropdown render menu items with MazBtn without double onClick
  packages/lib/src/components/MazBtnGroup.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazDropdown-extended.spec.ts
  packages/lib/tests/specs/components/MazDropdown.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): MazMarkdownEditor toolbar actions, split mode, line numbers, shortcuts and list continuation
  packages/lib/src/components/MazMarkdownEditor.vue
  packages/lib/tests/specs/components/MazMarkdownEditor.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

docs: MazMarkdownEditor toolbar, keyboard shortcuts, split mode and line numbers
  apps/docs/src/components/maz-markdown-editor.md
Due: none

feat(maz-ui): MazMarkdownEditor - markdown editor (#1602)
  apps/docs/.vitepress/configs/components.mts
  apps/docs/components/ColorPicker.vue
  apps/docs/src/components/maz-markdown-editor.md
  packages/lib/package.json
  packages/lib/src/components/MazBtnGroup.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazMarkdownEditor.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/src/components/index.ts
  packages/lib/src/composables/useGlobalConfig.ts
  packages/lib/tests/specs/components/MazDropdown-extended.spec.ts
  packages/lib/tests/specs/components/MazDropdown.spec.ts
  packages/lib/tests/specs/components/MazMarkdownEditor.spec.ts
  packages/lib/tests/specs/components/MazTimeline.spec.ts
  packages/lib/vitest.config.ts
  packages/nuxt/src/module.ts
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
  pnpm-lock.yaml
Due: lib, translations, nuxt, maz-ui Library, Translations Package, Nuxt Package

chore(release): bump version to 5.0.0-beta.25
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

chore(deps): upgrade relizy
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(@maz-ui/node): execPromise - redact secrets in command logs and errors
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/__tests__/redactSecrets.spec.ts
  packages/node/src/execPromise.ts
  packages/node/src/index.ts
  packages/node/src/redactSecrets.ts
Due: node, Node Package

feat(@maz-ui/node): execPromise - add timeout option
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/execPromise.ts
Due: node, Node Package

feat(@maz-ui/node): execPromise - support env, maxBuffer, killSignal, shell and signal options
  packages/node/src/__tests__/execPromise.spec.ts
  packages/node/src/execPromise.ts
Due: node, Node Package

chore(release): bump version to 5.0.0-beta.26
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Due: lib, mcp, node, nuxt, maz-cli, maz-ui Library, MCP Package, Node Package, Nuxt Package, Maz CLI

chore(deps): upgrade relizy
  package.json
Due: none

chore: fix CHANGELOG.md format
  CHANGELOG.md
Due: none

feat(maz-ui): MazBtn - now you can choose the color of the button text label
  packages/lib/src/components/MazBtn.vue
Due: lib, maz-ui Library

refactor(maz-ui): MazMarkdownEditor - auto close heading dropdown on click
  packages/lib/src/components/MazMarkdownEditor.vue
Due: lib, maz-ui Library

feat(maz-ui): MazDropdown - add prepend and append slots, items-size
  apps/docs/src/components/maz-dropdown.md
  packages/lib/src/components/MazDropdown.vue
Due: lib, maz-ui Library

chore(deps): upgrade relizy
  package.json
  pnpm-lock.yaml
Due: none

chore(release): bump version to 5.0.0-beta.27
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

build(deps): upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/vitest.config.ts
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/stylelint-config/package.json
  packages/upgrade/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lib, utils, mcp, nuxt, maz-cli, maz-ui Library, Utils Package, MCP Package, Nuxt Package, Maz CLI

ci: update workflow with new yolo var env
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-latest.yml
  .github/workflows/yolo.yml
  relizy.config.ts
  yolo.config.ts
Due: none

refactor(maz-ui): MazDropdown - linked item can have a click action
  packages/lib/src/components/MazDropdown.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.28
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): MazAvatar - support size keywords, fix size scale and rework initials
  apps/docs/src/components/maz-avatar.md
  packages/lib/src/components/MazAvatar.vue
  packages/lib/tests/specs/components/MazAvatar-extended.spec.ts
  packages/lib/tests/specs/components/MazAvatar.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): MazAnimatedElement - respect prefers-reduced-motion
  packages/lib/src/components/MazAnimatedElement.vue
Due: lib, maz-ui Library
