Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

feat(@maz-ui/vite-config): new tool to manage vite config
  .commitlintrc.ts
  pnpm-lock.yaml
Due: none

ci: add script to check peer deps versions
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/check-peer-deps.mjs
  .github/workflows/check-peer-deps.yml
  .github/workflows/test-unit.yml
Due: none

chore(docs): multiple corrections in documentation
  apps/docs/.vitepress/theme/components/ComponentDemo.vue
  apps/docs/.vitepress/theme/components/Contributors.vue
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/blog/v4.md
  apps/docs/src/components/maz-dropzone.md
  apps/docs/src/composables/use-aos.md
  apps/docs/src/composables/use-form-validator.md
  apps/docs/src/composables/use-wait.md
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/resolvers.md
Due: none

chore: always use utils from @maz-ui/utils
  apps/docs/src/plugins/toast.md
  apps/nuxt-app/src/components/TestForm.vue
  apps/nuxt-app/src/layouts/default.vue
  apps/nuxt-app/src/pages/index.vue
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

chore: re-organize all deps
  apps/docs/.vitepress/configs/components.mts
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/nuxt/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: lib, utils, icons, translations, nuxt, themes, maz-ui Library, Utils Package, Icons Package, Translations Package, Nuxt Package, Themes Package

build: update peer dependencies versions - fix #1443
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
Due: lib, icons, maz-ui Library, Icons Package

chore: use vite-config in packages to externalize dependencies
  packages/icons/vite.config.ts
  packages/lib/vite.config.ts
  packages/themes/vite.config.ts
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: lib, utils, icons, themes, maz-ui Library, Utils Package, Icons Package, Themes Package

feat(nuxt-app): add font imports
  apps/nuxt-app/nuxt.config.ts
Due: none

refactor(@maz-ui/eslint-config): improve vue detection
  packages/eslint-config/src/index.ts
Due: none

feat(maz-ui): useFormValidator - add onError callback option to handleSubmit method
  apps/docs/src/composables/use-form-validator.md
  packages/lib/src/composables/useFormValidator.ts
Due: lib, maz-ui Library

feat(maz-ui): MazAlert - new component to display messages
  apps/docs/src/components/maz-alert.md
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/index.ts
  packages/lib/tests/specs/components/MazAlert.spec.ts
Due: lib, maz-ui Library

feat(maz-ui): MazContainer - new lightweight component to wrap content, a simpler alternative to MazCard
  apps/docs/src/components/maz-container.md
  packages/lib/src/components/MazContainer.vue
  packages/lib/tests/specs/components/MazContainer.spec.ts
Due: lib, maz-ui Library

feat(@maz-ui/nuxt): add auto import support for MazAlert and MazContainer components
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

feat(maz-ui): MazInputPhoneNumber - add support of top-label
  packages/lib/src/components/MazInputNumber.vue
Due: lib, maz-ui Library

test(maz-ui): fix test of MazContainer component
  packages/lib/tests/specs/components/MazContainer.spec.ts
Due: none

chore(docs): remove vue dep
  package.json
  plans/2026-01-21-new-features-ideas.md
  plans/TODO.md
  pnpm-lock.yaml
  tasks/prd.json
Due: none

feat(docs): update documentation of useFormValidator
  apps/docs/src/composables/use-form-validator.md
Due: none

refactor(maz-ui): improve support of html direction (ltr, rtl) in comopnents
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

ci: do not upload coverage on dependabot MRs
  .github/workflows/test-unit.yml
Due: none

build: upgrade dependencies
  .github/scripts/check-peer-deps.mjs
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/index.ts
  packages/icons/package.json
  packages/lib/package.json
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/themes/package.json
  packages/translations/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tools/cli/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

build: upgrade to nuxt 4.3.0
  apps/nuxt-app/package.json
  packages/lib/package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  pnpm-lock.yaml
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(maz-ui): MazChecklist - increase padding-block of no results container
  packages/lib/src/components/MazChecklist.vue
Due: lib, maz-ui Library
