Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(nuxt-app): restore bare @import "tailwindcss" and pin stylelint
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/stylelint.config.mjs
Due: none

docs(docs): document v5 export API changes (style.css, deep imports, resolvers)
  apps/docs/src/guide/migration-v5.md
Due: none

test(@maz-ui/mcp): update guide fixtures after tailwind.md addition
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

feat(nuxt-app): Phase 5.3 — migrate to Tailwind v4 with @tailwindcss/vite
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/package.json
  apps/nuxt-app/src/components/TestForm.vue
  apps/nuxt-app/src/components/ThemeSwitcher.vue
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/src/layouts/default.vue
  apps/nuxt-app/src/pages/index.vue
  apps/nuxt-app/tailwind.config.ts
  pnpm-lock.yaml
  tools/migrate-tw-prefix/add-reference-generic.mjs
Due: none

docs: Phase 9.3 - add browser support guide for v5
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/browser-support.md
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

feat(maz-ui): tokenize theme-shadows.css — theme-driven color + alpha
  packages/lib/src/tailwindcss/theme-shadows.css
Due: none

docs(release): rewrite migration-v5.md around maz-ui changes only
  apps/docs/src/guide/migration-v5.md
Due: none

chore(deps): hoist @vitejs/plugin-vue to root devDependencies
  apps/vue-app/package.json
  package.json
  packages/icons/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, icons, maz-ui Library, Icons Package

refactor(maz-ui): drop all \`maz-ui/src/*\` imports and the \`./*\` wildcard
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/blog/v4.md
  apps/docs/src/components/maz-btn.md
  apps/docs/src/components/maz-checklist.md
  apps/docs/src/components/maz-dialog-confirm.md
  apps/docs/src/components/maz-dropdown.md
  apps/docs/src/components/maz-dropzone.md
  apps/docs/src/components/maz-popover.md
  apps/docs/src/components/maz-radio-buttons.md
  apps/docs/src/components/maz-table.md
  apps/docs/src/components/maz-textarea.md
  apps/docs/src/composables/use-dialog.md
  apps/docs/src/composables/use-display-names.md
  apps/docs/src/composables/use-form-validator.md
  apps/docs/src/composables/use-idle-timeout.md
  apps/docs/src/composables/use-reading-time.md
  apps/docs/src/composables/use-string-matching.md
  apps/docs/src/composables/use-swipe.md
  apps/docs/src/composables/use-timer.md
  apps/docs/src/composables/use-toast.md
  apps/docs/src/composables/use-user-visibility.md
  apps/docs/src/composables/use-wait.md
  apps/docs/src/directives/click-outside.md
  apps/docs/src/directives/lazy-img.md
  apps/docs/src/directives/tooltip.md
  apps/docs/src/directives/zoom-img.md
  apps/docs/src/plugins/dialog.md
  apps/nuxt-app/src/components/TestForm.vue
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/package.json
  packages/lib/src/resolvers/MazComponentsResolver.ts
  packages/lib/src/resolvers/MazDirectivesResolver.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/resolvers/MazComponentsResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazDirectivesResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazModulesResolver.spec.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
  plans/2026-02-24-tailwind-v4-migration.md
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(maz-ui): pre-flatten postcss-nested `&-child` syntax before @tailwindcss/vite
  apps/docs/.vitepress/config.mts
  apps/docs/package.json
  apps/vue-app/package.json
  apps/vue-app/src/tailwind.css
  apps/vue-app/vite.config.ts
  package.json
  packages/lib/build/VitePreNestedCss.ts
  packages/lib/package.json
  packages/lib/vite.config.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

docs(release): reframe tailwind.md as an optional bonus page
  apps/docs/src/guide/tailwind.md
Due: none

feat(maz-ui): Phase 4 start — add @tailwindcss/vite plugin to vite.config
  packages/lib/vite.config.ts
Due: lib, maz-ui Library

feat(maz-ui): add `monorepo:dev` resolve condition for src-vs-dist switching
  apps/docs/.vitepress/config.mts
  apps/docs/.vitepress/theme/index.ts
  apps/docs/components/DemoAuthPage.vue
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/package.json
  apps/vue-app/src/App.vue
  apps/vue-app/vite.config.ts
  packages/lib/package.json
  packages/lib/vite.config.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

chore(maz-ui): bump vitest functions threshold
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(deps): upgrade to Tailwind CSS v4 + minimal postcss v4 compat
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  pnpm-lock.yaml
Due: lib, maz-ui Library

docs(release): mark Phase 5 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

refactor(maz-ui): simplify CSS exports (style.css, base.css, aos.css)
  README.md
  apps/docs/.vitepress/theme/index.ts
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/blog/v4.md
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/migration-v4.md
  apps/docs/src/guide/tailwind.md
  apps/docs/src/guide/vue.md
  apps/docs/src/plugins/aos.md
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/build/ViteCompileStyles.ts
  packages/lib/package.json
  packages/lib/src/plugins/maz-ui.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

test(maz-ui): fix test expectations to align with Tailwind v4 migration
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazLink.spec.ts
  packages/lib/tests/specs/components/MazReadMore.spec.ts
  packages/lib/tests/specs/components/MazSelectCountry.spec.ts
Due: none

docs: Phase 8.2 — add Maz-UI v4 to v5 migration guide
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/migration-v5.md
  packages/mcp/src/__tests__/DocumentationService.test.ts
Due: none

test(maz-ui): revert codemod over-reach in resolver + circular progress tests
  packages/lib/tests/specs/components/MazCircularProgressBar.spec.ts
  packages/lib/tests/specs/resolvers/MazComponentsResolver.spec.ts
Due: none

chore(release): consolidate v5 migration plan + capture v3 baselines
  plans/2026-02-24-tailwind-v4-migration.md
  tools/baselines/v3-buildtime.txt
  tools/baselines/v3-bundle.txt
Due: none

fix(maz-ui): use public subpaths in resolver type-only imports
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/resolvers/MazDirectivesResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazModulesResolver.spec.ts
Due: lib, maz-ui Library

chore(maz-ui): Phase 7.2/7.3/7.6/7.8 — typecheck, lint, CSS inspection, bundle/build metrics
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/stylelint.config.mjs
  packages/lib/src/tailwindcss/variables/breakpoints.ts
  tools/baselines/SUMMARY.md
  tools/baselines/v5-buildtime.txt
  tools/baselines/v5-bundle.txt
Due: none

fix(maz-ui): declare container breakpoints locally in padded-container-vars
  packages/lib/src/css/padded-container-vars.css
Due: lib, maz-ui Library

feat(@maz-ui/eslint-config): restore optional eslint-plugin-tailwindcss
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  pnpm-lock.yaml
Due: none

refactor(maz-ui): re-use shared breakpoints in padded-container-vars
  packages/lib/src/css/padded-container-vars.css
Due: lib, maz-ui Library

feat(maz-ui): Phase 6.4 — publish consumer-facing Tailwind CSS exports
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/guide/tailwind.md
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/package.json
  packages/lib/src/tailwindcss/theme.css
Due: lib, maz-ui Library

docs(release): capture v5 PR review feedback tracker (16 entries)
  plans/review-feedback-v5.md
Due: none

fix(maz-ui): migrate vTooltip panelClass to Tailwind v4 prefix syntax
  apps/vue-app/src/views/ComponentView.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/directives/vTooltip.ts
Due: lib, maz-ui Library

Revert "refactor(maz-ui): normalize Tailwind variant order in MazToast"
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

docs(release): mark Phases 3 & 4 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

docs(release): mark Phase 6.4 consumer integration done
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

docs(release): mark Phase 9 partial (doc pages done, release artifacts pending)
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

refactor(maz-ui): modernize MazToast Tailwind v4 utilities
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

refactor(maz-ui): drop \`base.css\` export — \`style.css\` already covers it
  apps/docs/.vitepress/theme/main.css
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/App.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/tailwind.css
  packages/lib/package.json
Due: lib, maz-ui Library

chore: Phase 6.3 — drop Tailwind-specific lint plugins
  apps/nuxt-app/stylelint.config.mjs
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/index.ts
  packages/lib/stylelint.config.mjs
  pnpm-lock.yaml
Due: lib, maz-ui Library

docs(release): mark Phase 8 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

chore(release): allow @maz-ui/codemod scope in commitlint
  .commitlintrc.ts
  packages/codemod/README.md
  packages/codemod/build.config.ts
  packages/codemod/package.json
  packages/codemod/src/cli.ts
  packages/codemod/src/index.ts
  packages/codemod/src/transform.test.ts
  packages/codemod/src/transform.ts
  packages/codemod/tsconfig.json
  pnpm-lock.yaml
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
