Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

fix(maz-ui): declare container breakpoints locally in padded-container-vars
  packages/lib/src/css/padded-container-vars.css
Due: lib, maz-ui Library

fix(maz-ui): rename remaining @screen directives to @variant (v3 → v4)
  packages/codemod/src/cli.ts
  packages/codemod/src/transform.test.ts
  packages/codemod/src/transform.ts
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

fix(maz-ui): add maz:border-divider to MazContainer --bordered
  packages/lib/src/components/MazContainer.vue
Due: lib, maz-ui Library

docs: mark review-feedback-v5 entries as completed
  plans/review-feedback-v5.md
Due: none

fix(maz-ui): pre-flatten postcss-nested `&-child` syntax before @tailwindcss/vite
  apps/docs/.vitepress/config.mts
  apps/docs/package.json
  apps/vue-app/package.json
  apps/vue-app/src/tailwind.css
  apps/vue-app/vite.config.ts
  package.json
  packages/lib/build/VitePreNestedCss.ts
  packages/lib/package.json
  packages/lib/vite.config.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

test(maz-ui): cover async paths in MazToast and MazTabsBar
  packages/lib/tests/specs/components/MazTabsBar-branch.spec.ts
  packages/lib/tests/specs/plugins/toaster/MazToast.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

test(@maz-ui/themes): cover hex4/hex8 parsing and drop dead branch
  packages/themes/src/utils/__tests__/color-parser.test.ts
  packages/themes/src/utils/color-utils.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

feat(maz-ui): add `monorepo:dev` resolve condition for src-vs-dist switching
  apps/docs/.vitepress/config.mts
  apps/docs/.vitepress/theme/index.ts
  apps/docs/components/DemoAuthPage.vue
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/package.json
  apps/vue-app/src/App.vue
  apps/vue-app/vite.config.ts
  packages/lib/package.json
  packages/lib/vite.config.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

refactor(maz-ui): drop all \`maz-ui/src/*\` imports and the \`./*\` wildcard
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/blog/v4.md
  apps/docs/src/components/maz-btn.md
  apps/docs/src/components/maz-checklist.md
  apps/docs/src/components/maz-dialog-confirm.md
  apps/docs/src/components/maz-dropdown.md
  apps/docs/src/components/maz-dropzone.md
  apps/docs/src/components/maz-popover.md
  apps/docs/src/components/maz-radio-buttons.md
  apps/docs/src/components/maz-table.md
  apps/docs/src/components/maz-textarea.md
  apps/docs/src/composables/use-dialog.md
  apps/docs/src/composables/use-display-names.md
  apps/docs/src/composables/use-form-validator.md
  apps/docs/src/composables/use-idle-timeout.md
  apps/docs/src/composables/use-reading-time.md
  apps/docs/src/composables/use-string-matching.md
  apps/docs/src/composables/use-swipe.md
  apps/docs/src/composables/use-timer.md
  apps/docs/src/composables/use-toast.md
  apps/docs/src/composables/use-user-visibility.md
  apps/docs/src/composables/use-wait.md
  apps/docs/src/directives/click-outside.md
  apps/docs/src/directives/lazy-img.md
  apps/docs/src/directives/tooltip.md
  apps/docs/src/directives/zoom-img.md
  apps/docs/src/plugins/dialog.md
  apps/nuxt-app/src/components/TestForm.vue
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/package.json
  packages/lib/src/resolvers/MazComponentsResolver.ts
  packages/lib/src/resolvers/MazDirectivesResolver.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/resolvers/MazComponentsResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazDirectivesResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazModulesResolver.spec.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
  plans/2026-02-24-tailwind-v4-migration.md
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(maz-ui): simplify CSS exports (style.css, base.css, aos.css)
  README.md
  apps/docs/.vitepress/theme/index.ts
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/blog/v4.md
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/migration-v4.md
  apps/docs/src/guide/tailwind.md
  apps/docs/src/guide/vue.md
  apps/docs/src/plugins/aos.md
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/build/ViteCompileStyles.ts
  packages/lib/package.json
  packages/lib/src/plugins/maz-ui.ts
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(maz-ui): drop \`base.css\` export — \`style.css\` already covers it
  apps/docs/.vitepress/theme/main.css
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/App.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/tailwind.css
  packages/lib/package.json
Due: lib, maz-ui Library

docs(docs): document v5 export API changes (style.css, deep imports, resolvers)
  apps/docs/src/guide/migration-v5.md
Due: none

feat(deps): add `monorepo:dev` resolve condition to @maz-ui/* packages
  packages/icons/package.json
  packages/node/package.json
  packages/themes/package.json
  packages/themes/src/composables/index.ts
  packages/translations/package.json
  packages/utils/package.json
Due: utils, icons, translations, node, themes, Utils Package, Icons Package, Translations Package, Node Package, Themes Package

fix(maz-ui): keep MazUiProvider theme state reactive across color-mode changes
  packages/lib/src/components/MazUiProvider.vue
Due: lib, maz-ui Library

fix(maz-ui): use public subpaths in resolver type-only imports
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/resolvers/MazDirectivesResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazModulesResolver.spec.ts
Due: lib, maz-ui Library

docs(docs): drop deep-imports and devMode sections from migration-v5
  apps/docs/src/guide/migration-v5.md
Due: none

refactor(maz-ui): re-use shared breakpoints in padded-container-vars
  packages/lib/src/css/padded-container-vars.css
Due: lib, maz-ui Library

chore(deps): hoist @vitejs/plugin-vue to root devDependencies
  apps/vue-app/package.json
  package.json
  packages/icons/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, icons, maz-ui Library, Icons Package

test(@maz-ui/codemod): add vitest coverage config
  packages/codemod/package.json
  packages/codemod/vitest.config.ts
Due: none

chore(maz-ui): bump vitest functions threshold
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

refactor(maz-ui): modernize MazToast Tailwind v4 utilities
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

refactor(maz-ui): normalize Tailwind variant order in MazToast
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

Revert "refactor(maz-ui): normalize Tailwind variant order in MazToast"
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

fix: scan maz-ui sources for Tailwind utilities in app CSS entries
  apps/docs/.vitepress/theme/main.css
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
Due: none

fix(maz-ui): bind Tailwind v4 dark variant to .dark class
  packages/lib/package.json
  packages/lib/src/tailwindcss/theme-variants.css
  packages/lib/src/tailwindcss/theme.css
Due: lib, maz-ui Library

refactor(maz-ui): use prefix-first variant order in MazToast
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

fix(maz-ui): migrate vTooltip panelClass to Tailwind v4 prefix syntax
  apps/vue-app/src/views/ComponentView.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/directives/vTooltip.ts
Due: lib, maz-ui Library

fix(maz-ui): restore default border color in maz-ui components
  packages/lib/src/css/reset.css
Due: lib, maz-ui Library

refactor(maz-ui): switch lib build to @tailwindcss/cli
  packages/lib/build/ViteCompileStyles.ts
Due: none

feat(vue-app): Phase 5.1 — migrate app to Tailwind v4
  apps/vue-app/postcss.config.cjs
  apps/vue-app/src/App.vue
  apps/vue-app/src/assets/main.css
  apps/vue-app/src/components/ColorScale.vue
  apps/vue-app/src/components/ThemeSwitcher.vue
  apps/vue-app/src/main.ts
  apps/vue-app/src/tailwind.css
  apps/vue-app/src/views/ColorView.vue
  apps/vue-app/src/views/ComponentView.vue
  apps/vue-app/src/views/HomeView.vue
  apps/vue-app/tailwind.config.ts
  apps/vue-app/vite.config.ts
Due: none

chore(release): maintainer WIP during v5 PR review
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/.vitepress/configs/navbar.mts
  apps/docs/.vitepress/theme/main.css
  apps/vue-app/src/App.vue
  packages/nuxt/tsconfig.json
Due: nuxt, Nuxt Package

fix(docs): drop @reference directives from <style> blocks that do not use @apply
  apps/docs/src/components/maz-backdrop.md
  apps/docs/src/composables/use-swipe.md
  apps/docs/src/guide/resolvers.md
  apps/docs/src/guide/translations.md
Due: none

chore(maz-ui): remove redundant postcss.config.cjs
  packages/lib/postcss.config.cjs
Due: lib, maz-ui Library

fix(maz-ui): apply @tailwindcss/upgrade v4 idiomatic improvements
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library
