Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

test(maz-ui): cover the lowest-tested animation components
  packages/lib/tests/specs/components/MazAnimatedCounter.spec.ts
  packages/lib/tests/specs/components/MazAnimatedElement.spec.ts
  packages/lib/tests/specs/components/MazExpandAnimation.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

test(maz-ui): reuse the global IntersectionObserver mock in animation specs
  codecov.yml
  packages/lib/tests/specs/components/MazAnimatedCounter.spec.ts
  packages/lib/tests/specs/components/MazAnimatedElement.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

chore(@maz-ui/icons): trim duplicate raw-icon comment from generator template
  packages/icons/utils/ViteGenerateIconsComponentsEntry.ts
Due: icons, Icons Package

fix(maz-ui): MazIcon falls back loudly when URL fetch fails
  packages/lib/src/components/MazIcon.vue
  packages/lib/tests/specs/components/MazIcon.spec.ts
Due: lib, maz-ui Library

chore: align docs and demos with v5 logical-direction naming
  apps/docs/components/DemoAuthPage.vue
  apps/docs/src/assets/logo.svg
  apps/docs/src/guide/icons.md
  apps/docs/src/index.md
  apps/vue-app/src/App.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazDatePicker/MazPickerCalendarGrid.spec.ts
  packages/lib/tests/specs/components/MazPopover-extended.spec.ts
  packages/lib/tests/specs/directives/vLazyImg.spec.ts
Due: lib, maz-ui Library

refactor(maz-ui)!: drop vue-chartjs, lazy-load chart.js with selective registration
  apps/docs/src/components/maz-chart.md
  apps/docs/src/guide/migration-v5.md
  packages/lib/package.json
  packages/lib/src/components/MazChart.vue
  packages/lib/tests/specs/components/MazChart.spec.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

feat(@maz-ui/themes)!: extend tokens with scales and per-component overrides
  packages/themes/src/__tests__/define-preset.test.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
  packages/themes/vitest.config.ts
Due: themes, Themes Package

refactor(maz-ui)!: standardize rounded utility to rounded-md
  apps/docs/components/ColorPicker.vue
  apps/docs/src/blog/v4.md
  apps/docs/src/components/maz-btn.md
  apps/docs/src/components/maz-icon.md
  apps/docs/src/components/maz-input-phone-number.md
  apps/docs/src/components/maz-popover.md
  apps/docs/src/components/maz-skeleton.md
  apps/docs/src/components/maz-stepper.md
  apps/docs/src/components/maz-table.md
  apps/docs/src/composables/use-form-validator.md
  apps/docs/src/directives/click-outside.md
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/icon-set.md
  apps/docs/src/guide/themes.md
  apps/docs/src/helpers/number.md
  apps/vue-app/src/components/ColorScale.vue
  apps/vue-app/src/views/ComponentView.vue
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazDatePicker/MazPickerContainer.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazInputPhoneNumber/PhoneInput.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/plugins/toast/MazToast.vue
  packages/lib/tests/specs/components/MazCard.spec.ts
  packages/lib/tests/specs/components/__snapshots__/MazInputCode.spec.ts.snap
Due: lib, maz-ui Library

feat(maz-ui)!: bridge new theme tokens through Tailwind v4
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/components/maz-backdrop.md
  apps/docs/src/directives/click-outside.md
  apps/docs/src/directives/lazy-img.md
  apps/docs/src/helpers/capitalize.md
  apps/docs/src/helpers/currency.md
  apps/docs/src/helpers/date.md
  apps/docs/src/helpers/number.md
  apps/docs/src/plugins/wait.md
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/css/reset.css
  packages/lib/src/tailwindcss/theme-colors.css
  packages/lib/src/tailwindcss/theme-radius.css
  packages/lib/src/tailwindcss/theme-shadows.css
  packages/lib/src/tailwindcss/theme-spacing.css
  packages/lib/src/tailwindcss/theme-typography.css
  packages/lib/src/tailwindcss/theme.css
  packages/lib/tests/specs/components/MazCheckbox.spec.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
Due: lib, maz-ui Library

feat(maz-ui)!: surface container.bg / input.bg tokens through bg-container utility
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/src/components/MazDatePicker/MazPickerContainer.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/tailwindcss/theme-components.css
  packages/lib/src/tailwindcss/theme.css
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/inject-theme-css.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/use-mutation-observer.spec.ts
  packages/themes/src/utils/color-parser.ts
  packages/themes/vitest.config.ts
Due: lib, themes, maz-ui Library, Themes Package

fix(@maz-ui/themes): emit component vars under the --maz- prefix and finish Phase 3A
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/src/components/MazDatePicker/MazPickerMonthSwitcher.vue
  packages/lib/src/components/MazDatePicker/MazPickerYearSwitcher.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/tailwindcss/theme-components.css
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
Due: lib, themes, maz-ui Library, Themes Package

feat(maz-ui)!: route form-control surfaces through bg-input
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazRadio.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazTextarea.vue
Due: lib, maz-ui Library

feat(maz-ui)!: route disabled cursor / opacity through themable utilities
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazLink.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazRadio.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/tailwindcss/utilities.css
Due: lib, maz-ui Library

feat(maz-ui)!: wire btn.font-weight, font-display titles and font-mono digits
  apps/vue-app/src/views/ColorView.vue
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDrawer.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazTimeline.vue
Due: lib, maz-ui Library

feat(@maz-ui/themes)!: ship a default btn.font-weight (500) on the four bundled presets
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
Due: themes, Themes Package

refactor(@maz-ui/themes)!: drop the fontSize scale, lean on base-font-size
  apps/vue-app/src/App.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/tailwindcss/theme-typography.css
  packages/themes/src/__tests__/define-preset.test.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
Due: lib, themes, maz-ui Library, Themes Package

feat(maz-ui)!: rename color=\"background\" → color=\"surface\" across components
  apps/docs/src/components/maz-btn.md
  apps/docs/src/components/maz-card.md
  apps/docs/src/components/maz-link.md
  apps/docs/src/components/maz-popover.md
  apps/docs/src/directives/tooltip.md
  apps/docs/src/guide/icon-set.md
  apps/docs/src/index.md
  apps/vue-app/src/App.vue
  apps/vue-app/src/tailwind.css
  apps/vue-app/src/views/ComponentView.vue
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazLink.vue
  packages/lib/src/components/MazPagination.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/types.ts
  packages/lib/tests/specs/components/MazPagination.spec.ts
  packages/lib/tests/specs/components/MazPopover-extended.spec.ts
  packages/themes/src/define-preset.ts
Due: lib, themes, maz-ui Library, Themes Package

docs(maz-ui): align migration / themes / tailwind / readme with v5 token surface
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/src/guide/maz-ui-provider.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/tailwind.md
  apps/docs/src/guide/themes.md
  apps/vue-app/src/views/ComponentView.vue
  packages/lib/src/components/MazTableRow.vue
  packages/themes/README.md
Due: lib, themes, maz-ui Library, Themes Package

fix(docs): align ThemeEditorPage with the new ThemePreset shape
  apps/docs/components/ThemeEditorPage.vue
Due: none

feat(docs): expose every v5 token in the ThemeEditor sidebar
  apps/docs/components/ThemeEditorPage.vue
  packages/themes/vitest.config.ts
Due: themes, Themes Package

feat(@maz-ui/themes)!: refresh pristine / ocean / obsidian palettes and add nova preset
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/src/guide/themes.md
  apps/docs/src/index.md
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazInput.vue
  packages/themes/src/presets/index.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/get-preset.test.ts
  packages/themes/src/utils/get-preset.ts
  packages/themes/vitest.config.ts
Due: lib, themes, maz-ui Library, Themes Package

feat(@maz-ui/themes)!: persist active preset name with opt-out option
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/themes.md
  apps/nuxt-app/nuxt.config.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/nuxt/vitest.config.ts
  packages/themes/README.md
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/cookie-storage.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/__tests__/update-document-class.test.ts
  packages/themes/src/utils/cookie-storage.ts
  packages/themes/src/utils/setup-theme.ts
  packages/themes/vitest.config.ts
  plans/2026-04-28-theme-tokens-extension.md
Due: nuxt, themes, Nuxt Package, Themes Package

fix(@maz-ui/themes): cookie-saved preset overrides options.preset string
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/themes.md
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/src/css/main.css
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/themes/README.md
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/setup-theme.ts
Due: nuxt, themes, Nuxt Package, Themes Package

fix(@maz-ui/themes): cookie wins even over a preset object passed via options
  apps/docs/.vitepress/theme/index.ts
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/themes.md
  apps/vue-app/src/components/ThemeSwitcher.vue
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/themes/README.md
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/setup-theme.ts
Due: nuxt, themes, Nuxt Package, Themes Package

fix(@maz-ui/themes): no FOUC when options.preset is an object
  apps/docs/.vitepress/config.mts
  apps/docs/.vitepress/theme/index.ts
  apps/docs/components/DemoAuthPage.vue
  apps/docs/components/DemoProductPage.vue
  apps/docs/src/components/maz-alert.md
  apps/docs/src/components/maz-btn.md
  apps/docs/src/components/maz-container.md
  apps/docs/src/components/maz-dropdown.md
  apps/docs/src/components/maz-icon.md
  apps/docs/src/components/maz-input.md
  apps/docs/src/components/maz-link.md
  apps/docs/src/components/maz-table.md
  apps/docs/src/made-with-maz-ui.md
  apps/vue-app/__unconfig_vite.config.ts
  packages/lib/src/components/MazAlert.vue
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/nuxt/vitest.config.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/cookie-storage.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/cookie-storage.ts
  packages/themes/src/utils/no-transition.ts
  packages/themes/src/utils/setup-theme.ts
Due: lib, nuxt, themes, maz-ui Library, Nuxt Package, Themes Package

refactor(@maz-ui/themes)!: move spacing from scales to foundation
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/themes.md
  apps/nuxt-app/nuxt.config.ts
  apps/nuxt-app/src/css/main.css
  apps/nuxt-app/src/layouts/default.vue
  apps/nuxt-app/src/pages/components.vue
  apps/vue-app/__unconfig_vite.config.ts
  apps/vue-app/vite.config.ts
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/themes/src/__tests__/define-preset.test.ts
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/__tests__/preset-merger.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/themes/src/utils/preset-merger.ts
  pnpm-lock.yaml
Due: nuxt, themes, Nuxt Package, Themes Package

refactor(@maz-ui/themes)!: rename preset tokens to avoid Tailwind prefix(maz) cycles
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/tailwind.md
  apps/docs/src/guide/themes.md
  apps/docs/src/guide/vue.md
  apps/nuxt-app/src/layouts/default.vue
  packages/lib/src/tailwindcss/theme-typography.css
  packages/themes/src/presets/_defaults.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/nova.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
Due: themes, Themes Package

refactor(@maz-ui/upgrade): rebrand from @maz-ui/codemod and refocus on maz-ui v5 transforms
  .commitlintrc.ts
  packages/codemod/README.md
  packages/codemod/src/cli.ts
  packages/codemod/src/index.ts
  packages/codemod/src/transform.test.ts
  packages/codemod/src/transform.ts
  packages/upgrade/README.md
  packages/upgrade/build.config.ts
  packages/upgrade/eslint.config.ts
  packages/upgrade/package.json
  packages/upgrade/src/cli.ts
  packages/upgrade/src/index.ts
  packages/upgrade/src/transform.test.ts
  packages/upgrade/src/transform.ts
  packages/upgrade/tsconfig.json
  packages/upgrade/vitest.config.ts
  pnpm-lock.yaml
Due: none

docs(docs): document v5 upgrade tool, MCP flow and remaining manual sections
  apps/docs/.vitepress/configs/guide.mts
  apps/docs/src/guide/migration-v5.md
  packages/upgrade/.vscode/settings.json
Due: none

docs(docs): announce v5 release with blog post, banner and navbar
  apps/docs/.vitepress/configs/navbar.mts
  apps/docs/.vitepress/theme/components/Layout.vue
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/blog/v4.md
  apps/docs/src/blog/v5.md
  apps/docs/src/components/maz-btn.md
  apps/docs/src/public/img/post-layer-v5.jpg
Due: none

docs(@maz-ui/upgrade): refresh README table of contents
  packages/upgrade/README.md
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
