Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

feat(maz-ui): MazContainer - add contentClass prop
  packages/lib/src/components/MazContainer.vue
Due: lib, maz-ui Library

test(maz-ui): adjust coverage thresholds
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

feat(@maz-ui/upgrade): MazAvatar - auto-multiply static size units by 3
  packages/upgrade/README.md
  packages/upgrade/src/cli.ts
  packages/upgrade/src/transform.test.ts
  packages/upgrade/src/transform.ts
Due: none

docs(docs): document MazAvatar size scale change in v5 migration guide
  apps/docs/src/guide/migration-v5.md
Due: none

chore: update test covarage thresholds
  apps/docs/.vitepress/theme/components/ComponentDemo.vue
  package.json
  packages/lib/vitest.config.ts
  packages/upgrade/vitest.config.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.29
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): useFormField - make ref option reactive and accept raw HTMLElement
  packages/lib/src/composables/useFormField.ts
  packages/lib/src/composables/useFormValidator/types.ts
  packages/lib/tests/specs/composables/useFormField-branch.spec.ts
  packages/lib/tests/specs/composables/useFormField-ssr.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

fix(maz-ui): useFormValidator - revalidate eager fields on input after blur
  packages/lib/src/composables/useFormValidator.ts
  packages/lib/tests/specs/composables/useFormValidator/index.spec.ts
Due: lib, maz-ui Library

docs(docs): useFormValidator - document reactive ref option
  apps/docs/src/composables/use-form-validator.md
Due: none

chore(@maz-ui/mcp): move maz-ui in dependencies instead devDeps
  packages/mcp/build.config.ts
  packages/mcp/package.json
  pnpm-lock.yaml
Due: mcp, MCP Package

chore(release): bump version to 5.0.0-beta.30
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(maz-ui): MazAvatar & MazLazyImg - image-height-full apply height 100 to img element
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazLazyImg.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.31
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

feat(maz-ui): MazTabsBar - standalone usage, size, rounded-size and active color
  apps/docs/src/components/maz-tabs.md
  packages/lib/src/components/MazTabs.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/composables/useGlobalConfig.ts
  packages/lib/tests/specs/components/MazTabs.spec.ts
  packages/lib/tests/specs/components/MazTabsBar-branch.spec.ts
  packages/lib/tests/specs/components/MazTabsBar-standalone.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

fix(maz-ui): MazLazyImg - do not stretch the error image when image-height-full is set
  packages/lib/src/components/MazLazyImg.vue
Due: lib, maz-ui Library

chore(nuxt-app): add maz-ui deps and tabs demo to the test app
  apps/nuxt-app/package.json
  apps/nuxt-app/src/components/LangSwitcher.vue
  apps/nuxt-app/src/pages/index.vue
  apps/nuxt-app/tsconfig.json
  pnpm-lock.yaml
Due: none

chore(release): bump version to 5.0.0-beta.32
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

feat(maz-ui): MazTabsBar - add standalone prop to detach from a parent MazTabs
  apps/docs/src/components/maz-tabs.md
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/tests/specs/components/MazTabsBar-standalone.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.33
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(maz-ui): MazPopover - dismiss reliably on outside click and touch
  packages/lib/src/components/MazPopover.vue
  packages/lib/tests/specs/components/MazPopover-extended.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

fix(docs): increase top layout height on small screens
  apps/docs/.vitepress/theme/main.css
Due: none

chore(release): bump version to 5.0.0-beta.34
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(maz-ui): MazDropdown - enable dismiss behaviors by default
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazPopover.vue
Due: lib, maz-ui Library

chore(vue-app): expose dev server on network
  apps/vue-app/vite.config.ts
Due: none

chore(release): bump version to 5.0.0-beta.35
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

refactor(maz-ui): MazPullToRefresh - rename onClick prop to onRefresh
  packages/lib/src/components/MazPullToRefresh.vue
  packages/lib/tests/specs/components/MazPullToRefresh.spec.ts
Due: lib, maz-ui Library

docs(docs): MazPullToRefresh - use onRefresh prop
  apps/docs/src/components/maz-pull-to-refresh.md
Due: none

chore(release): bump version to 5.0.0-beta.36
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

feat(maz-ui): MazTable - add min-width to header items and animated rows
  apps/docs/src/components/maz-table.md
  packages/lib/src/components/MazTable.vue
  packages/lib/tests/specs/components/MazTable.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.37
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

fix(maz-ui): MazBtn - can disable overflow-hidden and fix fab applied classes
  packages/lib/src/components/MazBtn.vue
Due: lib, maz-ui Library

chore(release): bump version to 5.0.0-beta.38
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

feat(maz-ui): useDrag - add pointer drag gesture composable
  packages/lib/src/composables/index.ts
  packages/lib/src/composables/useDrag.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/composables/useDrag.spec.ts
Due: lib, maz-ui Library

docs(docs): useDrag - add documentation
  apps/docs/.vitepress/configs/composables.mts
  apps/docs/src/composables/use-drag.md
Due: none

feat(@maz-ui/nuxt): register useDrag composable for auto-import
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

feat(maz-ui): MazBottomSheet - add max-width, header, footer, slots and swipe-to-close
  packages/lib/src/components/MazBottomSheet.vue
  packages/lib/tests/specs/components/MazBottomSheet-branch.spec.ts
  packages/lib/tests/specs/components/MazBottomSheet.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

docs(docs): MazBottomSheet - document new features
  apps/docs/src/components/maz-bottom-sheet.md
Due: none

refactor(@maz-ui/utils): Swipe - rework on pointer events
  packages/utils/src/helpers/__tests__/SwipeHandler.spec.ts
  packages/utils/src/helpers/swipeHandler.ts
Due: utils, Utils Package

docs(docs): useSwipe - update for pointer events
  apps/docs/src/composables/use-swipe.md
Due: none

fix(@maz-ui/eslint-config): raise synckit timeout to avoid tailwind lint crash under load
  packages/eslint-config/src/index.ts
Due: none

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
