Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**

perf(maz-ui): replace JS autogrow with native CSS field-sizing in MazTextarea
  apps/docs/src/components/maz-textarea.md
  packages/lib/src/components/MazTextarea.vue
  packages/lib/tests/specs/components/MazTextarea.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.5
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): add topLabel prop and autogrow toggle to MazTextarea
  apps/docs/src/components/maz-textarea.md
  packages/lib/src/components/MazTextarea.vue
  packages/lib/tests/specs/components/MazTextarea.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.6
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

feat(maz-ui): add topLabel prop and autogrow toggle to MazTextarea
  packages/lib/src/components/MazTextarea.vue
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.7
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore: improve check peer dep versions script
  .github/scripts/check-peer-deps.mjs
Due: none

ci: add yoloship workflow
  .github/workflows/yolo.yml
  package.json
  pnpm-lock.yaml
  yolo.config.ts
Due: none

build: upgrade dependencies
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/mcp/package.json
  pnpm-lock.yaml
Due: lib, mcp, maz-ui Library, MCP Package

build: upgrade dependencies
  nx.json
  packages/lib/src/components/MazTextarea.vue
Due: lib, maz-ui Library

chore: upgrade dependencies
  apps/docs/package.json
  apps/nuxt-app/package.json
  apps/vue-app/package.json
  nx.json
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/package.json
  packages/lib/src/components/MazTextarea.vue
  packages/maz-cli/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/nuxt/src/__tests__/module.spec.ts
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/package.json
Due: lib, utils, mcp, icons, nuxt, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Nuxt Package, Maz CLI

ci: add yoloship workflow
  .github/workflows/yolo.yml
  pnpm-lock.yaml
Due: none

fix(@maz-ui/nuxt): SSR build with toast plugin anc Vite@8 (Rolldown)
  packages/nuxt/src/runtime/plugins/__tests__/aos.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/dialog.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/dialog.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/toast.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/toast.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/wait.server.spec.ts
  packages/nuxt/src/runtime/plugins/__tests__/wait.spec.ts
  packages/nuxt/src/runtime/plugins/aos.ts
  packages/nuxt/src/runtime/plugins/dialog.ts
  packages/nuxt/src/runtime/plugins/toast.ts
  packages/nuxt/src/runtime/plugins/wait.ts
Due: nuxt, Nuxt Package

refactor(maz-ui): check slot content to render the slot
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazChecklist.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazFullscreenLoader.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/utils/hasSlotContent.ts
  packages/lib/tests/specs/utils/hasSlotContent.test.ts
Due: lib, maz-ui Library

refactor(maz-ui): use base rounded size in all components to inherits theme value
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/tests/specs/components/MazAvatar-extended.spec.ts
  packages/lib/tests/specs/components/MazContainer-branch.spec.ts
  packages/lib/tests/specs/components/MazInput-extended.spec.ts
  packages/lib/tests/specs/components/MazSkeleton.spec.ts
  packages/lib/tests/specs/components/MazTimeline.spec.ts
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.1
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(release): bump version to 4.9.1-beta.4
  CHANGELOG.md
  package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: nuxt, Nuxt Package

fix(@maz-ui/nuxt): colorMode config option overrides user cookie preference on page reload
  packages/nuxt/src/runtime/plugins/theme.ts
  packages/nuxt/vitest.config.ts
Due: nuxt, Nuxt Package

chore(release): bump version to 4.9.1-beta.2
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(release): bump version to 4.9.1-beta.3
  CHANGELOG.md
  package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: nuxt, Nuxt Package

refactor(maz-ui): use base rounded size in all components to inherits theme value
  packages/lib/src/components/MazAvatar.vue
Due: lib, maz-ui Library

chore(release): bump version to 4.9.1-beta.0
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: lib, nuxt, maz-ui Library, Nuxt Package

chore(vue-app): add components view
  apps/vue-app/src/App.vue
  apps/vue-app/src/router/index.ts
  apps/vue-app/src/views/ComponentView.vue
Due: none

chore: upgrade relizy to 1.2.1
  package.json
  pnpm-lock.yaml
Due: none
