Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(maz-ui): apply v4 bare-utility renames missed by first codemod pass
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazFullscreenLoader.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  tools/migrate-tw-prefix/transform.ts
Due: lib, maz-ui Library

fix(maz-ui): add maz:border-divider to MazContainer --bordered
  packages/lib/src/components/MazContainer.vue
Due: lib, maz-ui Library

fix(maz-ui): revert codemod over-reach on non-Tailwind strings
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazIcon.vue
  packages/lib/src/components/MazInputPrice.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/css/animation.css
  packages/lib/src/css/index.css
  packages/lib/src/css/padded-container-vars.css
  packages/lib/src/css/reset.css
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
Due: lib, maz-ui Library

fix: scan maz-ui sources for Tailwind utilities in app CSS entries
  apps/docs/.vitepress/theme/main.css
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/tailwind.css
Due: none

chore(maz-ui): Phase 6.1-6.2 — delete the v3 Tailwind config plumbing
  package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/tailwindcss/index.ts
  packages/lib/src/tailwindcss/tailwind.config.ts
  packages/lib/src/tailwindcss/utils/colors.ts
  packages/lib/src/tailwindcss/variables/colors.ts
  packages/lib/src/tailwindcss/variables/design-tokens.ts
  packages/lib/src/tailwindcss/variables/utilities.ts
  packages/lib/src/tailwindcss/variables/z-indexes.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

feat(@maz-ui/themes): expose motion tokens via ThemeFoundation
  packages/lib/src/tailwindcss/theme-typography.css
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
Due: themes, Themes Package

docs(release): mark Phase 7 mostly done (visual + playwright deferred)
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

docs(release): mark Phase 6 done in migration plan
  plans/2026-02-24-tailwind-v4-migration.md
Due: none

fix(maz-ui): restore breakpoint-driven padded container responsive rules
  packages/lib/src/css/padded-container-vars.css
Due: lib, maz-ui Library

feat(maz-ui): add z-default-backdrop + cap-f @utility for v4
  packages/lib/src/tailwindcss/utilities.css
  packages/lib/stylelint.config.mjs
Due: lib, maz-ui Library

fix(maz-ui): apply @reference + @apply fixes in subdir components, directives, plugins
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
  packages/lib/src/plugins/toast/MazToast.vue
  plans/2026-02-24-tailwind-v4-migration.md
  tools/migrate-tw-prefix/add-reference.mjs
  tools/migrate-tw-prefix/fix-apply-important.mjs
Due: lib, maz-ui Library

chore(maz-ui): re-add autoprefixer devDep for SCSS aos build
  packages/lib/package.json
  pnpm-lock.yaml
Due: lib, maz-ui Library

docs(docs): drop deep-imports and devMode sections from migration-v5
  apps/docs/src/guide/migration-v5.md
Due: none

refactor(@maz-ui/themes): Phase 1 — multi-format color support with hsl() output
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/types/index.ts
  packages/themes/src/utils/__tests__/color-parser.test.ts
  packages/themes/src/utils/__tests__/color-utils.test.ts
  packages/themes/src/utils/color-parser.ts
  packages/themes/src/utils/color-utils.ts
  packages/themes/src/utils/css-generator.ts
  plans/2026-02-24-tailwind-v4-migration.md
Due: themes, Themes Package

refactor(maz-ui): use prefix-first variant order in MazToast
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

docs: remove Tailwind setup from standard install flow
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/vue.md
Due: none

feat(deps): add `monorepo:dev` resolve condition to @maz-ui/* packages
  packages/icons/package.json
  packages/node/package.json
  packages/themes/package.json
  packages/themes/src/composables/index.ts
  packages/translations/package.json
  packages/utils/package.json
Due: utils, icons, translations, node, themes, Utils Package, Icons Package, Translations Package, Node Package, Themes Package

docs: surface Tailwind v4 integration in Vue, Nuxt, and Getting Started
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/nuxt.md
  apps/docs/src/guide/vue.md
Due: none

fix(maz-ui): bind Tailwind v4 dark variant to .dark class
  packages/lib/package.json
  packages/lib/src/tailwindcss/theme-variants.css
  packages/lib/src/tailwindcss/theme.css
Due: lib, maz-ui Library

docs: mark review-feedback-v5 entries as completed
  plans/review-feedback-v5.md
Due: none

chore(maz-ui): add tools/migrate-tw-prefix codemod for Phase 3
  tools/migrate-tw-prefix/README.md
  tools/migrate-tw-prefix/cli.ts
  tools/migrate-tw-prefix/transform.test.ts
  tools/migrate-tw-prefix/transform.ts
Due: none

fix(maz-ui): rename remaining @screen directives to @variant (v3 → v4)
  packages/codemod/src/cli.ts
  packages/codemod/src/transform.test.ts
  packages/codemod/src/transform.ts
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/plugins/toast/MazToast.vue
Due: lib, maz-ui Library

feat(maz-ui): Phase 2 — Tailwind v4 CSS-first bridge
  packages/lib/src/css/padded-container-vars.css
  packages/lib/src/tailwindcss/tailwind.config.ts
  packages/lib/src/tailwindcss/tailwind.css
  packages/lib/src/tailwindcss/theme-breakpoints.css
  packages/lib/src/tailwindcss/theme-colors.css
  packages/lib/src/tailwindcss/theme-radius.css
  packages/lib/src/tailwindcss/theme-shadows.css
  packages/lib/src/tailwindcss/theme-typography.css
  packages/lib/src/tailwindcss/theme-z-index.css
  packages/lib/src/tailwindcss/theme.css
  packages/lib/src/tailwindcss/utilities.css
  packages/lib/stylelint.config.mjs
  plans/2026-02-24-tailwind-v4-migration.md
Due: lib, maz-ui Library

chore(release): remove tools/baselines and tools/migrate-tw-prefix
  tools/baselines/SUMMARY.md
  tools/baselines/v3-buildtime.txt
  tools/baselines/v3-bundle.txt
  tools/baselines/v5-buildtime.txt
  tools/baselines/v5-bundle.txt
  tools/migrate-tw-prefix/README.md
  tools/migrate-tw-prefix/add-reference-generic.mjs
  tools/migrate-tw-prefix/add-reference.mjs
  tools/migrate-tw-prefix/cli.ts
  tools/migrate-tw-prefix/fix-apply-important.mjs
  tools/migrate-tw-prefix/fix-hsl-var.mjs
  tools/migrate-tw-prefix/revert-bem.mjs
  tools/migrate-tw-prefix/transform.test.ts
  tools/migrate-tw-prefix/transform.ts
Due: none

fix(nuxt-app): use bare @import "tailwindcss" so prefix(maz) applies
  packages/codemod/eslint.config.ts
  packages/codemod/src/cli.ts
  packages/codemod/src/transform.ts
  packages/codemod/tsconfig.json
Due: none

chore: wip v5 — Tailwind layer alignment, roundedSize cleanup, misc fixes
  apps/docs/.vitepress/theme/components/ComponentDemo.vue
  apps/docs/.vitepress/theme/main.css
  apps/docs/src/components/maz-alert.md
  apps/docs/src/guide/browser-support.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/guide/themes.md
  apps/nuxt-app/package.json
  apps/nuxt-app/src/css/main.css
  apps/vue-app/src/App.vue
  apps/vue-app/src/assets/main.css
  apps/vue-app/src/tailwind.css
  apps/vue-app/src/views/ComponentView.vue
  package.json
  packages/codemod/package.json
  packages/codemod/src/cli.ts
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/lib/src/components/MazAlert.vue
  packages/lib/src/components/MazAvatar.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazContainer.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/src/css/animation.css
  packages/lib/src/css/index.css
  packages/lib/src/css/padded-container-vars.css
  packages/lib/src/css/reset.css
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/maz-cli/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/themes/src/utils/__tests__/css-generator.test.ts
  packages/themes/src/utils/css-generator.ts
  packages/utils/package.json
  tools/vite-config/package.json
Due: lib, utils, icons, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, Icons Package, Node Package, Nuxt Package, Themes Package, Maz CLI

test(maz-ui): raise function and branch coverage above thresholds
  apps/vue-app/src/views/ComponentView.vue
  packages/lib/src/components/MazAnimatedElement.vue
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/tests/specs/components/MazAnimatedElement.spec.ts
  packages/lib/tests/specs/components/MazLink.spec.ts
  packages/lib/tests/specs/components/MazTabs.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

refactor(maz-ui): inline simple @apply rules into templates
  package.json
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/directives/vFullscreenImg/MazFullscreenImg.vue
Due: lib, maz-ui Library

test(maz-ui): cover MazBackdrop focus trap and MazTabsContent debounce
  packages/lib/tests/specs/components/MazBackdrop-extended.spec.ts
  packages/lib/tests/specs/components/MazTabsContent.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

refactor(maz-ui)!: drop \`maz-ui\` root entry, point utilities at @maz-ui/utils
  apps/docs/src/composables/use-wait.md
  apps/docs/src/guide/getting-started.md
  apps/docs/src/guide/resolvers.md
  apps/docs/src/helpers/capitalize.md
  apps/docs/src/helpers/country-code-to-unicode-flag.md
  apps/docs/src/helpers/currency.md
  apps/docs/src/helpers/date.md
  apps/docs/src/helpers/get-country-flag-url.md
  apps/docs/src/helpers/number.md
  apps/vue-app/stylelint.config.mjs
  nx.json
  packages/lib/package.json
  packages/lib/src/index.ts
  packages/lib/src/resolvers/MazModulesResolver.ts
  packages/lib/tests/specs/resolvers/MazComponentsResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazDirectivesResolver.spec.ts
  packages/lib/tests/specs/resolvers/MazModulesResolver.spec.ts
  packages/lib/vite.config.ts
  packages/mcp/vitest.config.ts
Due: lib, mcp, maz-ui Library, MCP Package

feat(@maz-ui/themes)!: migrate color system to OKLch
  apps/docs/components/ColorPicker.vue
  apps/docs/components/ThemeEditorPage.vue
  apps/docs/src/components/maz-bottom-sheet.md
  apps/docs/tsconfig.json
  packages/lib/src/components/MazLazyImg.vue
  packages/lib/tests/specs/components/MazAvatar-extended.spec.ts
  packages/lib/tests/specs/components/MazLazyImg.spec.ts
  packages/lib/vitest.config.ts
  packages/mcp/vitest.config.ts
  packages/themes/src/presets/mazUi.ts
  packages/themes/src/presets/obsidian.ts
  packages/themes/src/presets/ocean.ts
  packages/themes/src/presets/pristine.ts
  packages/themes/src/utils/__tests__/color-parser.test.ts
  packages/themes/src/utils/__tests__/color-utils.test.ts
  packages/themes/src/utils/__tests__/no-transition.test.ts
  packages/themes/src/utils/color-parser.ts
  packages/themes/src/utils/color-utils.ts
  packages/themes/src/utils/index.ts
  packages/themes/vitest.config.ts
Due: lib, mcp, themes, maz-ui Library, MCP Package, Themes Package

feat(maz-ui)!: standardize MazBadge size to MazSize keywords
  apps/docs/src/components/maz-badge.md
  apps/docs/src/components/maz-checklist.md
  apps/docs/src/components/maz-container.md
  apps/docs/src/components/maz-tabs.md
  apps/docs/src/guide/migration-v5.md
  apps/docs/src/index.md
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazTabsBar.vue
  packages/lib/tests/specs/components/MazBadge.spec.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

feat(@maz-ui/stylelint-config): introduce reusable Stylelint preset
  .commitlintrc.ts
  apps/docs/.vitepress/configs/ecosystem.mts
  apps/docs/.vitepress/configs/navbar.mts
  apps/docs/.vitepress/configs/sidebar.mts
  apps/docs/src/ecosystem/eslint-config.md
  apps/docs/src/ecosystem/stylelint-config.md
  apps/nuxt-app/package.json
  apps/nuxt-app/stylelint.config.mjs
  apps/vue-app/package.json
  apps/vue-app/stylelint.config.mjs
  packages/lib/package.json
  packages/lib/stylelint.config.mjs
  packages/lib/vitest.config.ts
  packages/nuxt/tsconfig.json
  packages/stylelint-config/LICENSE
  packages/stylelint-config/README.md
  packages/stylelint-config/build.config.ts
  packages/stylelint-config/eslint.config.ts
  packages/stylelint-config/package.json
  packages/stylelint-config/src/configs/base.ts
  packages/stylelint-config/src/configs/global.ts
  packages/stylelint-config/src/configs/logical.ts
  packages/stylelint-config/src/configs/scss.ts
  packages/stylelint-config/src/configs/tailwind.ts
  packages/stylelint-config/src/index.ts
  packages/stylelint-config/src/types.ts
  packages/stylelint-config/tests/__snapshots__/index.test.ts.snap
  packages/stylelint-config/tests/fixtures/invalid-color.css
  packages/stylelint-config/tests/fixtures/physical-properties.css
  packages/stylelint-config/tests/fixtures/tailwind.css
  packages/stylelint-config/tests/fixtures/valid.css
  packages/stylelint-config/tests/index.test.ts
  packages/stylelint-config/tsconfig.json
  packages/stylelint-config/tsconfig.test.json
  packages/stylelint-config/vitest.config.ts
  pnpm-lock.yaml
Due: lib, nuxt, maz-ui Library, Nuxt Package

refactor(@maz-ui/stylelint-config)!: rename defineMazStylelintConfig to defineConfig
  apps/docs/src/ecosystem/stylelint-config.md
  apps/nuxt-app/stylelint.config.mjs
  apps/vue-app/stylelint.config.mjs
  packages/lib/stylelint.config.mjs
  packages/stylelint-config/README.md
  packages/stylelint-config/src/index.ts
  packages/stylelint-config/src/types.ts
  packages/stylelint-config/tests/index.test.ts
Due: lib, maz-ui Library

ci(@maz-ui/stylelint-config): wire lint targets to depend on linter-config builds via nx
  .github/workflows/linters.yml
  apps/nuxt-app/stylelint.config.mjs
  apps/vue-app/stylelint.config.mjs
  nx.json
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazBadge.vue
  packages/lib/src/components/MazCardSpotlight.vue
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendar.vue
  packages/lib/src/components/MazDatePicker/MazPickerContainer.vue
  packages/lib/src/components/MazDatePicker/MazPickerHeader.vue
  packages/lib/src/components/MazDatePicker/MazPickerShortcuts.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazDialog.vue
  packages/lib/src/components/MazFullscreenLoader.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazIcon.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazInputTags.vue
  packages/lib/src/components/MazLoadingBar.vue
  packages/lib/src/components/MazRadio.vue
  packages/lib/src/components/MazReadMore.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/components/MazTicker.vue
  packages/lib/src/components/MazTimeline.vue
  packages/lib/src/css/animation.css
  packages/lib/src/plugins/toast/MazToast.vue
  packages/lib/src/tailwindcss/utilities.css
  packages/lib/stylelint.config.mjs
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
