Repository LouisMazel/maz-ui: changes, and which Codecov flags are due for each by the changed paths.
All: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

test(@maz-ui/node): parameterize logger specs
  packages/node/src/__tests__/logger.spec.ts
Due: none

test(@maz-ui/translations): parameterize locales specs
  packages/translations/src/utils/__tests__/locales.test.ts
Due: none

fix(docs): restore production build
  apps/docs/.vitepress/config.mts
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

chore: allow importing ts extensions
  tsconfig.base.json
Due: none

chore(release): bump version to 5.0.0-beta.44
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/maz-cli/CHANGELOG.md
  packages/maz-cli/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, icons, translations, node, nuxt, themes, maz-cli, maz-ui Library, Utils Package, MCP Package, Icons Package, Translations Package, Node Package, Nuxt Package, Themes Package, Maz CLI

fix(docs): scan the components directory for Tailwind classes
  apps/docs/.vitepress/theme/main.css
Due: none

fix(docs): use explicit extension for og-image import
  apps/docs/.vitepress/config.mts
Due: none

fix(@maz-ui/nuxt): silence postcss calc warnings on relative oklch colors
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
Due: nuxt, Nuxt Package

chore(nuxt-app): rename build script to build:only
  apps/nuxt-app/package.json
Due: none

chore(release): bump version to 5.0.0-beta.45
  CHANGELOG.md
  package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: nuxt, Nuxt Package

refactor(maz-ui): centralize size text class in a shared constants module
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputPhoneNumber.vue
  packages/lib/src/components/MazTextarea.vue
  packages/lib/src/components/constants.ts
  packages/lib/src/components/types.ts
  packages/lib/tests/specs/components/constantes.spec.ts
Due: lib, maz-ui Library

feat(@maz-ui/translations): add aria namespace for accessible labels
  packages/translations/src/locales/de.ts
  packages/translations/src/locales/en.ts
  packages/translations/src/locales/es.ts
  packages/translations/src/locales/fr.ts
  packages/translations/src/locales/it.ts
  packages/translations/src/locales/ja.ts
  packages/translations/src/locales/pt.ts
  packages/translations/src/locales/zh-CN.ts
Due: translations, Translations Package

fix(maz-ui): improve component accessibility
  packages/lib/src/components/MazAccordion.vue
  packages/lib/src/components/MazCheckbox.vue
  packages/lib/src/components/MazDropdown.vue
  packages/lib/src/components/MazInputCode.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazPopover.vue
  packages/lib/src/components/MazRadio.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/plugins/toast/MazToast.vue
  packages/lib/tests/helpers/axe.ts
  packages/lib/tests/specs/a11y/axe.spec.ts
  packages/lib/tests/specs/components/MazAccordion.spec.ts
  packages/lib/tests/specs/components/MazCheckbox.spec.ts
  packages/lib/tests/specs/components/MazDropdown-extended.spec.ts
  packages/lib/tests/specs/components/MazDropdown.spec.ts
  packages/lib/tests/specs/components/MazInputCode-branch.spec.ts
  packages/lib/tests/specs/components/MazRadio-extended.spec.ts
  packages/lib/tests/specs/components/MazRadioButtons.spec.ts
  packages/lib/tests/specs/components/MazSlider-branch.spec.ts
  packages/lib/tests/specs/components/MazSwitch-extended.spec.ts
  packages/lib/tests/specs/components/MazSwitch.spec.ts
  packages/lib/tests/specs/components/__snapshots__/MazInputCode.spec.ts.snap
  packages/lib/tests/specs/plugins/toaster/MazToast.spec.ts
  packages/lib/tests/vitest-axe.d.ts
  packages/lib/tests/vitest-global.setup.ts
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

feat(maz-ui): add topLabel prop to MazSelect
  packages/lib/src/components/MazSelect.vue
Due: lib, maz-ui Library

refactor(maz-ui): add type-only root entry and drop the bundled CLI
  packages/lib/bin/maz.mjs
  packages/lib/build/index.ts
  packages/lib/package.json
  packages/lib/src/index.ts
  packages/lib/vite.config.ts
Due: lib, maz-ui Library

chore(@maz-ui/cli): mark package as private
  packages/maz-cli/package.json
Due: maz-cli, Maz CLI

fix(@maz-ui/mcp): make docs copy resilient to concurrent removal
  packages/mcp/scripts/copy-docs.ts
Due: mcp, MCP Package

refactor(@maz-ui/utils): target es2022 and drop the node resolve condition
  packages/utils/vite.config.ts
Due: utils, Utils Package

fix(@maz-ui/nuxt): align nuxt compatibility range and pin devtools to v3
  packages/lib/vitest.config.ts
  packages/nuxt/package.json
  packages/nuxt/src/__tests__/module.spec.ts
  packages/nuxt/src/module.ts
Due: lib, nuxt, maz-ui Library, Nuxt Package

fix(@maz-ui/nuxt): rework theme cookie and color-mode resolution
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
  packages/nuxt/src/runtime/plugins/theme.ts
Due: nuxt, Nuxt Package

fix(@maz-ui/themes): make the configured preset authoritative over a stale cookie
  packages/lib/tests/specs/components/__snapshots__/MazInputCode.spec.ts.snap
  packages/themes/README.md
  packages/themes/package.json
  packages/themes/src/composables/__tests__/useTheme.integration.test.ts
  packages/themes/src/composables/__tests__/useTheme.test.ts
  packages/themes/src/composables/useTheme.ts
  packages/themes/src/utils/__tests__/cookie-storage.test.ts
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/cookie-storage.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

refactor(vue-app): use the namespaced toast API
  apps/vue-app/src/App.vue
Due: none

chore: bump pnpm and switch license to MIT
  package.json
  pnpm-lock.yaml
Due: none

docs(docs): expand the v5 migration guide
  apps/docs/src/guide/migration-v5.md
Due: none

chore(nuxt-app): pin devtools to v3 and extend the toast demo
  apps/nuxt-app/package.json
  apps/nuxt-app/src/pages/index.vue
Due: none

refactor(@maz-ui/themes): simplify the configured preset name helper
  packages/themes/src/utils/__tests__/setup-theme.test.ts
  packages/themes/src/utils/setup-theme.ts
Due: themes, Themes Package

test(@maz-ui/nuxt): cover the empty-base preset cookie branch
  packages/nuxt/src/runtime/plugins/__tests__/theme.spec.ts
Due: none

chore(release): bump version to 5.0.0-beta.46
  CHANGELOG.md
  package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/translations/CHANGELOG.md
  packages/translations/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: lib, utils, mcp, translations, nuxt, themes, maz-ui Library, Utils Package, MCP Package, Translations Package, Nuxt Package, Themes Package

test(maz-ui): update coverage treesholds
  packages/lib/vitest.config.ts
Due: lib, maz-ui Library

build(deps): upgrade dependencies
  apps/docs/package.json
  package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/mcp/package.json
  packages/nuxt/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: lib, mcp, nuxt, maz-ui Library, MCP Package, Nuxt Package

docs(docs): document MazDatePicker trigger slot
  apps/docs/src/components/maz-date-picker.md
Due: none

feat(@maz-ui/vite-config): add VitePreNestedCss plugin
  tools/vite-config/src/VitePreNestedCss.js
  tools/vite-config/src/getExternalDependencies.js
  tools/vite-config/src/index.d.ts
  tools/vite-config/src/index.js
Due: none

refactor(maz-ui): source VitePreNestedCss from @maz-ui/vite-config
  packages/lib/build/VitePreNestedCss.ts
  packages/lib/build/index.ts
  packages/lib/vite.config.ts
Due: lib, maz-ui Library

feat(maz-ui): add row virtualization to MazTable
  packages/lib/package.json
  packages/lib/src/components/MazTable.vue
  packages/lib/src/components/MazTableVirtualizer.vue
  packages/lib/tests/specs/components/MazTable-virtualized.spec.ts
  pnpm-lock.yaml
Due: lib, maz-ui Library

refactor(maz-ui): use standard CSS nesting instead of postcss-nested concatenation
  packages/lib/src/components/MazAnimatedText.vue
  packages/lib/src/components/MazBackdrop.vue
  packages/lib/src/components/MazBtn.vue
  packages/lib/src/components/MazCard.vue
  packages/lib/src/components/MazCarousel.vue
  packages/lib/src/components/MazDatePicker.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendar.vue
  packages/lib/src/components/MazDatePicker/MazPickerCalendarMonth/MazPickerCalendarGrid.vue
  packages/lib/src/components/MazDatePicker/MazPickerHeader.vue
  packages/lib/src/components/MazDatePicker/MazPickerTime.vue
  packages/lib/src/components/MazDropzone.vue
  packages/lib/src/components/MazExpandAnimation.vue
  packages/lib/src/components/MazGallery.vue
  packages/lib/src/components/MazInput.vue
  packages/lib/src/components/MazInputNumber.vue
  packages/lib/src/components/MazMarkdownEditor.vue
  packages/lib/src/components/MazRadioButtons.vue
  packages/lib/src/components/MazSelect.vue
  packages/lib/src/components/MazSelectCountry.vue
  packages/lib/src/components/MazSkeleton.vue
  packages/lib/src/components/MazSlider.vue
  packages/lib/src/components/MazStepper.vue
  packages/lib/src/components/MazSwitch.vue
  packages/lib/src/components/MazTabsContentItem.vue
  packages/lib/src/components/MazTextarea.vue
Due: lib, maz-ui Library

docs(docs): document MazTable virtualization
  apps/docs/src/components/maz-table.md
Due: none

chore(docs): use the shared VitePreNestedCss plugin in dev
  apps/docs/.vitepress/config.mts
  apps/docs/package.json
Due: none

chore(vue-app): use the shared VitePreNestedCss plugin in dev
  apps/vue-app/package.json
  apps/vue-app/vite.config.ts
Due: none

refactor(maz-ui): drop unused marker classes from MazContainer
  packages/lib/src/components/MazContainer.vue
  packages/lib/tests/specs/components/MazContainer-branch.spec.ts
  packages/lib/tests/specs/components/MazContainer.spec.ts
Due: lib, maz-ui Library

Path conditions:
  lib: any of: packages/lib/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  mcp: any of: packages/mcp/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  icons: any of: packages/icons/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  translations: any of: packages/translations/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  node: any of: packages/node/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  nuxt: any of: packages/nuxt/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  themes: any of: packages/themes/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-cli: any of: packages/maz-cli/, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  maz-ui Library: any of: packages/lib/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Utils Package: any of: packages/utils/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  MCP Package: any of: packages/mcp/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Icons Package: any of: packages/icons/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Translations Package: any of: packages/translations/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Node Package: any of: packages/node/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Nuxt Package: any of: packages/nuxt/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Themes Package: any of: packages/themes/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
  Maz CLI: any of: packages/maz-cli/**, but not: **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**, **/*.d.ts, **/types/**, **/index.ts, packages/lib/src/tailwindcss/**
